<p>
	<% if user_signed_in? %>
	Welcome back
	<%= link_to ( current_user.display_name || current_user.username ),
			user_profile_path( current_user.username ) %>!
	( <%= link_to t( 'edit' ).downcase, user_edit_path %> |
    <%= link_to t( 'users.log_out' ).downcase, user_logout_path   %> )
	<% else %>
	<%= link_to t( 'users.log_in'   ), user_login_path %> /
	<%= link_to t( 'users.register' ), user_registration_path %>
	<% end %>
</p>
<p>
	This website is powered by <a href="https://shinycms.org/">ShinyCMS</a>
  (<a href="https://shinycms.org/ruby">Ruby version</a>).
	ShinyCMS is <a href="http://www.opensource.org/">open source software</a>,
  &copy; 2009-2019 <a href="https://denny.me/">Denny de la Haye</a>. You can
	<a href="https://github.com/denny/ShinyCMS-ruby">download it from GitHub</a>.
</p>
