<p>
	<% if user_signed_in? %>
	Welcome back <%= link_to user_display_name, user_profile_path( current_user.username ) %>!
	( <%= link_to t( 'edit' ).downcase, edit_user_registration_path %> |
    <%= link_to t( 'user.log_out' ).downcase, destroy_user_session_path %> )
	<% else %>
	<%= link_to t( 'user.log_in'   ), new_user_session_path %> /
	<%= link_to t( 'user.register' ), new_user_registration_path %>
	<% end %>
</p>
<p>
	This website is powered by <a href="https://shinycms.org/">ShinyCMS</a>
  (<a href="https://shinycms.org/ruby">Ruby version</a>).
	ShinyCMS is <a href="http://www.opensource.org/">open source software</a>,
  &copy; 2009-2019 <a href="https://denny.me/">Denny de la Haye</a>. You can
	<a href="https://github.com/denny/ShinyCMS-ruby">download it from GitHub</a>.
</p>
