<% @page_title = t( '.title' ) %>

<%= form_with model: @shared_content, name: 'shared_content', url: shared_content_path, method: :put do |f| %>
<table class="table table-responsive-sm table-striped">
  <%= f.fields_for :elements do |fields| %>
    <%= render partial: 'element', locals: {
      fields: fields,
      content: :content,
      name: fields.object.name,
      content_type: fields.object.content_type
    } %>
  <% end %>
</table>
<p class="top-margin">
  <%= submit_tag t( 'update' ) %>
</p>
<% end %>

<%= form_for :shared_content_element, name: 'new_element', url: shared_content_path, method: :post do |f2| %>
  <fieldset>
    <legend>
      Add new shared content
    </legend>
    <p>
      <%= f2.text_field :name, placeholder: t( '.name_placeholder' ), class: 'textshort' %>
      <%= f2.select :content_type, content_types %>
      <br><%= f2.text_field :content, placeholder: t( '.content_placeholder' ), class: 'textlong' %>
    </p>
    <p>
      <%= f2.submit t( 'add' ) %>
    </p>
  </fieldset>
<% end %>
