<p>
  <%= fields.label content, name %><br>
  <% if content_type == t( 'admin.elements.short_text' ) %>
  <%= fields.text_field content %>
  <% elsif content_type == t( 'admin.elements.long_text' ) %>
  <%= fields.text_area content %>
  <% elsif content_type == t( 'admin.elements.image' ) %>
  <%= fields.select content, filenames %>
  <% elsif content_type == t( 'admin.elements.html' ) %>
  <%= fields.cktext_area content, ckeditor: { customConfig: '/js/ckeditor/config.js' } %>
  <% else %>
  [ UNKNOWN ELEMENT TYPE IN PAGE DATA ]
  <% end %>
</p>
