  <% view_path = "#{view_path}/#{section.slug}" %>
  <tr>
    <% if section.hidden %>
    <td style="padding-left: <%= indent %>em;" class="hidden">
    <% else %>
    <td style="padding-left: <%= indent %>em;">
    <% end %>
      <b><%= section.name %></b>
    </td>
    <td>
      <%= section.description %>
    </td>
    <td class="actions">
      <%= link_to t( 'view'   ), view_path %>
      <%= link_to t( 'edit'   ), edit_page_section_path( section ) %>
      <%= link_to t( 'delete' ), page_section_path( section ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
    </td>
  </tr>
  <% pages = section.pages + section.hidden_pages %>
  <% pages.each do |page| %>
  <tr class="showfocus">
    <% if page.hidden %>
    <td style="padding-left: <%= indent + 2 %>em;" class="hidden">
    <% else %>
    <td style="padding-left: <%= indent + 2 %>em;">
    <% end %>
      <%= page.name %>
    </td>
    <td>
      <%= page.description %>
    </td>
    <td class="actions">
      <%= link_to t( 'view'   ), "#{view_path}/#{page.slug}" %>
      <%= link_to t( 'edit'   ), edit_page_path( page ) %>
      <%= link_to t( 'delete' ), page_path( page ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
    </td>
  </tr>
  <% end %>

  <% sections = section.sections + section.hidden_sections %>
  <% sections.each do |subsection| %>
    <%= render partial: 'section_contents', locals: {
      section: subsection,
      view_path: view_path,
      indent: indent + 2
    } %>
  <% end %>
