<% @page_title = 'Edit page' %>

<%= form_for @page, url: admin_page_path( @page ), method: :post do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :title %>
    <br><%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %>
    <br><%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :template %>
    <br><%= select( 'page', 'template_id', PageTemplate.pluck( :name, :id ),
            { selected: @page.template_id} ) %>
  </p>
  <p>
    <%= f.label :section %>
    <br><%= select( 'page', 'section_id', PageSection.pluck( :name, :id ),
            { include_blank: 'None', selected: @page.section_id } ) %>
  </p>
  <p>
    <%= f.label :sort_order %>
    <br><%= f.text_field :sort_order %>
  </p>
  <p>
    <%= f.label :hidden %>
    <br><%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
