<% @page_title = 'List pages' %>

<table class="list">
	<tr>
		<th class="main">
			Page
		</th>
		<th>
			Actions
		</th>
	</tr>
  <tr>
		<td class="subheading" colspan="2">
			<b>Top-level pages</b>
		</td>
	</tr>
  <% @tl_pages.each do |page| %>
	<tr class="showfocus">
		<td>
			<%= page.name %>
		</td>
		<td>
      <%= link_to 'View', url_for( "/pages/#{page.slug}" ) %>
      <%= link_to 'Edit', url_for( controller: '/admin/pages', action: 'edit', id: page.id ) %>
		</td>
	</tr>
	<% end %>
	<% @tl_sections.each do |section| %>
	<tr>
		<td class="subheading" colspan="2">
			<b><%= section.name %></b>
		</td>
	</tr>
	<% section.pages.each do |page| %>
	<tr class="showfocus">
		<td>
			<%= page.name %>
		</td>
		<td>
      <%= link_to 'View', url_for( "/pages/#{section.slug}/#{page.slug}" ) %>
      <%= link_to 'Edit', url_for( controller: '/admin/pages', action: 'edit', id: page.id ) %>
		</td>
	</tr>
	<% end %>
	<% end %>
</table>
