<% @page_title = t( '.list_pages' ) %>

<% if @tl_pages.present? || @tl_sections.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th class="width25pc">
        Page / Section
      </th>
      <th class="width50pc">
      </th>
      <th class="width25pc">
      </th>
    </tr>
  </thead>

  <% @tl_pages.each do |page| %>
	<tr class="showfocus">
    <% if page.hidden %>
    <td class="hidden">
    <% else %>
    <td>
    <% end %>
			<%= page.name %>
		</td>
    <td>
      <%= page.description %>
    </td>
		<td class="actions">
      <%= link_to t( 'view' ), url_for( "/pages/#{page.slug}" )   %>
      <%= link_to t( 'edit' ), url_for( admin_page_path( page ) ) %>
      <%= link_to t( 'delete' ), admin_page_delete_path( page ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
		</td>
	</tr>
  <% end %>

	<% @tl_sections.each do |section| %>
    <%= render partial: 'section_contents', locals: {
      section: section,
      view_path: '/pages',
      indent: 0.5
    } %>
	<% end %>
</table>

<% else %>
<p>
  There are currently no pages or sections to display.
</p>
<% end %>
