<% @page_title = t( '.new_page' ) %>

<%= form_for :page, url: admin_page_new_path, method: :post do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :title %>
    <br><%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %>
    <br><%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :template_id, 'Template' %>
    <br><%= f.select :template_id, PageTemplate.pluck( :name, :id ) %>
  </p>
  <p>
    <%= f.label :section_id, 'Section' %>
    <br><%= f.select :section_id, PageSection.pluck( :name, :id ),
            { include_blank: 'None' } %>
  </p>
  <p>
    <%= f.label :sort_order %>
    <br><%= f.text_field :sort_order %>
  </p>
  <p>
    <%= f.label :hidden %>
    <br><%= f.check_box :hidden %>
  </p>
  <p class="form_buttons">
    <%= submit_tag t( 'add' ) %>
  </p>
<% end %>
