<% @page_title = t( '.title' ) %>

<% if @comments.present? %>
<%= form_for 'spam_comments', method: :put do |f| %>
<table class="table table-responsive-sm table-striped">
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td>
        <%= comment.title %> - <small><i>Posted by <%= comment.author_name_any %>
            at <%= comment.posted_at.to_s( :time ) %>
            on <%= comment.posted_at.to_s( :shinydate ) %></i></small>
        <br><%= comment.body %>
      </td>
      <td style="text-align: right; width: 20em;">
        <%= f.check_box 'ids', value: comment.id, class: 'itembox' %>
  		</td>
    </tr>
    <% end %>
    <tr>
      <td>
      </td>
      <td style="text-align: right; line-height: 1.5em; vertical-align: middle;">
        <p>
          <label for="select_all">Select all:</label>
          <input type="checkbox" id="select_all" onClick="toggle_select_all();">
        </p>
        <p>
          <label for="spam">Confirm as spam:</label>
          <span style="display: inline-block; vertical-align: middle;">
          <input type="radio" id="spam" name="spam_or_ham" value="spam" style="margin-right: 0;">
          </span>
          <br>
          <label for="ham">Remove spam flag:</label>
          <span style="display: inline-block; vertical-align: middle;">
            <input type="radio" id="ham" name="spam_or_ham" value="spam" style="margin-right: 0;">
          </span>
        </p>
        <p>
          <%= f.submit t( 'update' ) %>
        </p>
      </td>
    </tr>
  </tbody>
</table>
<script>
function toggle_select_all() {
    var checked  = document.getElementById( 'select_all' ).checked;
    var boxes    = document.getElementsByClassName( 'itembox' );
    var boxcount = boxes.length;

    for ( var i = 0; i < boxcount; i++ ) {
        boxes[i].checked = checked;
    }
}
</script>
<% end %>

<%= paginate @comments, window: 3, views_prefix: 'admin' %>
<p id="pager-info">
  <%= page_entries_info @comments %>
</p>

<% else %>
<p>
  <%= t( '.empty' ) %>
</p>
<% end %>
