<% @page_title = t( '.title' ) %>

<%= render partial: 'admin/includes/search', locals: { action: shiny_lists.search_lists_path, placeholder: t( '.search' ) } %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Subscribers
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
    <tr>
      <td>
        <%= list.internal_name %>
      </td>
      <td>
        <%= link_to list.subscriptions.active.count, shiny_lists.list_subscriptions_path( list ) %>
      </td>
      <td class="actions">
        <%= link_to t( 'edit'   ), shiny_lists.edit_list_path( list ) %>
        <%= link_to t( 'delete' ), shiny_lists.list_path( list ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @lists, route_set: shiny_lists } %>
