<% @page_title = t( '.title' ) %>

<%= form_for :list, url: lists_path, method: :post do |f| %>
  <p>
    <%= f.label :internal_name %>
    <br><%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %>
    <br><%= f.text_field :public_name %>
  </p>

  <p class="top-margin">
    <%= submit_tag t( 'add' ) %>
  </p>
<% end %>
