<% unless @menu_tl_sections.blank? %>
<ul>
  <li>
    <%= link_to Page.default_page.name, url_for( '/' ) %>
  </li>
  <% @menu_tl_sections.each do |menu_tl_section| %>
  <li>
    <%= link_to menu_tl_section.name, url_for( "/pages/#{menu_tl_section.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>

<% unless @menu_sections.blank? %>
<ul>
  <% @menu_sections.each do |menu_section| %>
  <li>
    <%= link_to menu_section.name, url_for( "/pages/#{menu_section.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>

<% unless @menu_pages.blank? %>
<ul>
  <% if @menu_tl_sections.blank? %>
  <li>
    <%= link_to Page.default_page.name, url_for( '/' ) %>
  </li>
  <% end %>
  <% @menu_pages.each do |menu_page| %>
  <li>
    <%# TODO: the line below is broken for pages in sections! %>
    <%= link_to menu_page.name, url_for( "/pages/#{menu_page.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>
