<% menu_data = build_menu_data( @section ) %>
<ul>
<% unless menu_data[ :pages ][ :top_sections ].blank? %>
  <li>
    <%= link_to Page.default_page.name, url_for( '/' ) %>
  </li>
  <% menu_data[ :pages ][ :top_sections ].each do |menu_top_section| %>
  <li>
    <%= link_to menu_top_section.name, url_for( "/pages/#{menu_top_section.slug}" ) %>
  </li>
  <% end %>
<% end %>

<% unless menu_data[ :pages ][ :top_pages ].blank? %>
  <% if menu_data[ :pages ][ :top_sections ].blank? %>
  <li>
    <%= link_to Page.default_page.name, url_for( '/' ) %>
  </li>
  <% end %>
  <% menu_data[ :pages ][ :top_pages ].each do |menu_top_page| %>
  <li>
    <%= link_to menu_top_page.name, url_for( "/pages/#{menu_top_page.slug}" ) %>
  </li>
  <% end %>
<% end %>
</ul>

<% unless menu_data[ :pages ][ :sections ].blank? %>
<ul>
  <% menu_data[ :pages ][ :sections ].each do |menu_section| %>
  <li>
    <%= link_to menu_section.name, url_for( "/pages/#{menu_section.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>

<% unless menu_data[ :pages ][ :pages ].blank? %>
<ul>
  <% if menu_data[ :pages ][ :top_sections ].blank? %>
  <li>
    <%= link_to Page.default_page.name, url_for( '/' ) %>
  </li>
  <% end %>
  <% menu_data[ :pages ][ :pages ].each do |menu_page| %>
  <li>
    <%# TODO: the line below is broken for pages in sections! %>
    <%= link_to menu_page.name, url_for( "/pages/#{menu_page.slug}" ) %>
  </li>
  <% end %>
</ul>
<% end %>
