<% @page_title = t( '.title' ) %>

<%= render partial: 'blog/index/page_title' %>

<% @posts.each do |post| %>
<section>
  <%= render partial: 'blog/index/post_header', locals: { post: post } %>

  <%= sanitize post.teaser( paragraphs: 3 ) %>

  <%= render partial: 'blog/index/post_footer', locals: { post: post } %>
</section>
<% end %>

<% if @posts.size == 0 %>
<p>
  <%= t( 'empty_list', items: 'blog posts' ) %>
</p>
<% end %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
