<% @page_title = t( '.title' ) %>

<%= render partial: 'blog/index/page_title' %>

<% @posts.each do |post| %>
<section class="post">
  <%= render partial: 'blog/index/post_header', locals: { post: post } %>

  <%= sanitize post.teaser( paragraphs: 3 ) %>

  <%= render partial: 'blog/index/post_footer', locals: { post: post } %>
</section>
<% end %>

<%= render partial: 'includes/newer_older_pager', locals: { pagy: @pagy } %>

<% if @posts.blank? %>
<p>
  <%= t( 'shinycms.empty_list', items: t( 'shinycms.models.names.shiny_blog_post' ).pluralize ) %>
</p>
<% end %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
