<% @page_title = @post.title %>

<% @sidebar_position = 'right' %>

<section>

  <header>
    <h2>
      <%= link_to @post.title, @post.path %>
    </h2>
    <h3>
      Posted by <%= user_profile_link( @post.author ) %>
      at <%= @post.posted_at.to_s( :time ) %>
      on <%= @post.posted_at.to_s( :shinydate ) %>
    </h3>
  </header>

  <%= sanitize @post.body %>

  <% if @post.tag_list.present? %>
  <p>
    Tags: <% @post.tag_list.each do |tag| %><%= link_to tag, tag_path( tag ) %> <% end %>
  </p>
  <% end %>

  <% if @post.discussion.present? %>
  <footer>
    <%= render partial: 'blog/post/footer', locals: { post: @post } %>
  </footer>

  <% unless @post.discussion.hidden? || @post.discussion.locked? %>
  <div id="comment_form" class="comment_form" hidden>
    <%= render partial: 'discussions/comment/form', locals: { discussion: @post.discussion } %>
  </div>
  <% end %>
  <% end %>
</section>

<a name="comments"></a>

<% unless @post.discussion.blank? || @post.discussion.hidden? %>
  <%= render partial: 'discussions/discussion', locals: { resource: @post } %>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
