<a name="<%= comment.number %>"></a>
<section class="comment" style="margin-left: <%= depth %>em;">
  <header>
    <%= render partial: 'comments/comment/header', locals: { comment: comment } %>
  </header>

  <p>
    <%= sanitize comment.body %>
  </p>

  <footer>
    <%= render partial: 'comments/comment/footer', locals: { comment: comment } %>
  </footer>

  <% unless discussion.locked? || comment.locked? %>
  <div id="reply_form_<%= comment.id %>" style="margin: 0; padding: 0;" hidden>
    <%= render partial: 'comments/comment_form', locals: { discussion: discussion, comment: comment } %>
  </div>
  <% end %>
</section>
