<% @page_title = t( '.title' ) %>

<% if @posts.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th class="longer">
        Title
      </th>
      <th>
        Author
      </th>
      <th>
        Posted
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.title %>
      </td>
      <td>
        <%= post.author.name %>
      </td>
      <td>
        <%= display_time_on_date( post.posted_at ) %>
      </td>
      <td class="actions">
        <%= link_to t( 'view'   ), post.path %>
        <%= link_to t( 'edit'   ), shiny_news.edit_news_post_path( post ) %>
        <%= link_to t( 'delete' ), shiny_news.news_post_path( post ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @posts } %>

<% else %>
<p>
  <%= t( '.empty' ) %>
</p>
<% end %>
