<% @page_title = t( '.title' ) %>

<%= render partial: 'admin/includes/search', locals: { placeholder: t( '.search' ) } %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Slug
      </th>
      <th>
        Created (Updated)
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>

  <tbody>
    <% @consent_versions.each do |version| %>
    <tr>
      <td>
        <%= version.name %>
      </td>
      <td>
        <%= version.slug %>
      </td>
      <td>
        <%= display_date( version.created_at ) %>
        <% if version.updated_at > version.created_at %>(<%= display_date( version.updated_at ) %>)<% end %>
      </td>
      <td class="actions">
        <%# You shouldn't edit or delete consent versions that people have consented to! %>
        <% if version.subscriptions.present? %>
        <%= link_to t( 'view'   ), consent_version_path( version ) %>
        <% else %>
        <%= link_to t( 'edit'   ), edit_consent_version_path( version ) %>
        <%= link_to t( 'delete' ), consent_version_path( version ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
        <% end %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @consent_versions } %>
