<% @page_title = t( '.title' ) %>

<%= form_for @post, url: shiny_blog.blog_post_path( @post ), method: :put do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :tag_list, 'Tags' %><br>
    <%= f.text_field :tag_list, value: @post.tag_list.join(', ') %>
  </p>
  <% if current_user.can? :change_author, :blog_posts %>
  <p>
    <%= f.label :user_id, 'Author' %><br>
    <%= f.select :user_id, User.that_can( :add, :blog_posts ).pluck( :username, :id ) %>
  </p>
  <% else %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <p>
    <%= f.label :posted_at %><br>
    <%= f.date_field :posted_at %> <%= f.time_field :posted_at_time %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.cktext_area :body, ckeditor: { customConfig: '/js/ckeditor/config.js' } %>
  </p>

  <p>
    <%= f.label :show_on_site, 'Published' %><br>
    <%= f.check_box :show_on_site %>
  </p>
  <p>
    <%= f.label :discussion_show_on_site, 'Show comments' %><br>
    <%= f.check_box :discussion_show_on_site %>
  </p>
  <p>
    <%= f.label :discussion_locked, 'Lock comments' %><br>
    <%= f.check_box :discussion_locked %>
  </p>

  <p>
    <%= f.submit t( 'update' ) %>
  </p>
<% end %>
