<% @page_title = t( '.title' ) %>

<%= form_for @post, url: shiny_blog.blog_posts_path, method: :post do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :tag_list, 'Tags' %><br>
    <%= f.text_field :tag_list %>
  </p>
  <% if current_user.can? :change_author, :blog_posts %>
  <p>
    <%= f.label :user_id, 'Author' %><br>
    <%= f.select :user_id, users_that_can_for_menu( :add, :blog_posts ) %>
  </p>
  <% else %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <p>
    <%= f.label :posted_at %><br>
    <%= f.date_field :posted_at %> <%= f.time_field :posted_at_time %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.cktext_area :body, ckeditor: { customConfig: '/js/ckeditor/config.js' } %>
  </p>

  <p>
    <%= f.label :show_on_site, 'Publish' %><br>
    <%= f.check_box :show_on_site %>
  </p>
  <p>
    <%= f.label :discussion_show_on_site, t( 'shinycms.admin.discussion.enable_comments' ) %><br>
    <%= f.check_box :discussion_show_on_site, checked: true %>
  </p>
  <p>
    <%= f.label :discussion_locked, t( 'shinycms.admin.discussion.lock_comments' ) %><br>
    <%= f.check_box :discussion_locked %>
  </p>

  <p>
    <%= f.submit t( 'post' ) %>
  </p>
<% end %>
