<% @page_title = t( '.title' ) %>

<%= form_for @template, url: shiny_pages.template_path( @template ), method: :put do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :filename, t( 'admin.template_file' ) %>
    <br><%= f.select :filename, ShinyPages::Template.available_templates, include_blank: '' %>
  </p>

  <%= hidden_field_tag :sort_order, id: 'sort_order' %>
  <span id="sortable">
  <%= f.fields_for :elements do |fields| %>
    <% this = @template.elements[fields.index] %>
    <%= render partial: 'element', locals: { fields: fields, id: this.id, name: this.name, element_type: this.element_type, content: :content, filenames: filenames_for_image_select } %>
  <% end %>
  </span>

  <p class="top-margin">
    <%= submit_tag t( 'update' ) %>
  </p>
<% end %>
