<% @page_title = @blog.title || 'Recent blog posts' %>

<% @sidebar_position = 'right' %>

<% @posts.each do |post| %>
<section>

  <header>
    <h2>
      <%= link_to post.title, view_blog_post_path( post ) %>
    </h2>
    <h3>
      Posted by <%= link_to user_display_name( post.user ), user_profile_path( post.user.username ) %>
      at <%= post.posted_at.to_s( :time ) %>
      on <%= post.posted_at.to_s( :shinydate ) %>
    </h3>
  </header>

  <p>
    <%= sanitize post.body %>
    <%# TODO: post.teaser (first few paragraphs of longer posts) %>
  </p>

</section>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
