<% @page_title = @post.title %>

<% @sidebar_position = 'right' %>

<section>

  <header>
    <h2>
      <%= link_to @post.title, view_blog_post_path( @post ) %>
    </h2>
    <h3>
      Posted by <%= link_to user_display_name( @post.user ), user_profile_path( @post.user.username ) %>
      at <%= @post.posted_at.to_s( :time ) %>
      on <%= @post.posted_at.to_s( :shinydate ) %>
    </h3>
  </header>

  <%= sanitize @post.body %>

</section>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
