<% @page_title = "Blog posts in #{@posts.first.posted_at.year}"  %>

<% @sidebar_position = 'right' %>

<% current_month = '' %>
<% @posts.each do |post| %>
  <% unless post.posted_at.month == current_month %>
  <h3>
    <%= post.posted_at.month %>
  </h3>
  <% current_month = post.posted_at.month %>
  <% end %>

  <section>

    <header>
      <h2>
        <%= link_to post.title, view_blog_post_path( post ) %>
      </h2>
      <h3>
        Posted by <%= link_to user_display_name( post.user ), user_profile_path( post.user.username ) %>
        at <%= post.posted_at.to_s( :time ) %>
        on <%= post.posted_at.to_s( :shinydate ) %>
      </h3>
    </header>

  </section>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
