<% @page_title = "Blog posts in #{I18n.t("date.month_names")[@posts.first.posted_at.month]} #{@posts.first.posted_at.year}"  %>

<% @sidebar_position = 'right' %>

<section>
  <% post_date = @posts.first.posted_at %>
  <h2>
    Blog posts in <%= I18n.t('date.month_names')[post_date.month] %>
    <% unless post_date.year == Time.zone.now.year %><%= post_date.year %><% end %>
  </h2>
</section>

<% @posts.each do |post| %>
  <%= render partial: 'blogs/post_in_list', locals: { post: post } %>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
