<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <title>
    <%= @page_title %><%= ' - ' if @page_title.present? %><%= site_name %>
  </title>

  <%= favicon_link_tag asset_path( 'shinycms/favicon.ico' ) %>

  <%= stylesheet_link_tag 'halcyonic'  %>
  <%= stylesheet_link_tag 'smartmenus' %>
  <%= stylesheet_link_tag 'shinycms/admin_toolbar' if current_user_can? :view_admin_toolbar %>

  <% plugins_with_main_site_head_templates.each do |plugin| %>
  <%= render partial: "#{plugin.name.underscore}/includes/head_part" %>
  <% end %>
</head>
