<tr class="showfocus">
  <td>
    <%= fields.label content, name %><br>
    <% if content_type == t( 'admin.elements.short_text' ) %>
    <%= fields.text_field content %>
    <% elsif content_type == t( 'admin.elements.long_text' ) %>
    <%= fields.text_area content %>
    <% elsif content_type == t( 'admin.elements.image' ) %>
    <%= fields.select content, select_filenames %>
    <% elsif content_type == t( 'admin.elements.html' ) %>
    <%= fields.cktext_area content %>
    <% else %>
    [ <%= t( '.unknown_element_type' ) %> ]
    <% end %>
  </td>
  <td class="actions">
    <%= link_to t( 'delete' ), insert_path( fields.object ),
        method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
  </td>
</tr>
