        <section id="footer">
          <div class="container">
            <div class="row">
              <div class="col-2 col-12-medium">

                <section>
                  <% if user_signed_in? %>
                  <h2>Welcome back!</h2>
                  <ul class="link-list last-child">
                    <li><%= link_to t( 'user.view_profile' ), user_profile_path( current_user.username ) %></li>
                    <li><%= link_to t( 'user.edit_profile' ), edit_user_registration_path %></li>
                    <li><%= link_to t( 'user.log_out' ), destroy_user_session_path, data: {}, method: :delete %></li>
                  </ul>
                  <% else %>
                  <h2>Log in</h2>
                  <%= form_for( :user, url: user_session_path, method: :post ) do |f| %>
                    <div class="field">
                      <%= f.text_field :login, autocomplete: 'email', placeholder: 'Username or email' %>
                    </div>
                    <div class="field">
                      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
                    </div>
                    <div class="field">
                      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                    </div>
                    <div class="field">
                      <%= f.submit t( 'user.log_in' ) %>
                    </div>
                  <% end %>
                <% end %>
                </section>

              </div>
              <div class="col-6 col-12-medium">

                <section>
                  <h2>Useful Links</h2>
                  <div>
                    <div class="row">
                      <div class="col-4 col-12-small">
                        <ul class="link-list last-child">
                          <% unless user_signed_in? %>
                          <li>Click here to <%= link_to t( 'user.register' ).downcase, new_user_registration_path %></li>
                          <% end %>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div>
                      <div class="col-4 col-12-small">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibus</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div>
                      <div class="col-4 col-12-small">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibus</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
              <div class="col-4 col-12-medium imp-medium">

                <section>
                  <h2>An Informative Text Blurb</h2>
                  <p>
                    Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed. Suspendisse eu
                    varius nibh. Suspendisse vitae magna eget odio amet mollis. Duis neque nisi,
                    dapibus sed mattis quis, sed rutrum accumsan sed. Suspendisse eu varius nibh
                    lorem ipsum amet dolor sit amet lorem ipsum consequat gravida justo mollis.
                  </p>
                </section>

              </div>
            </div>
          </div>
        </section>
