
<%= form_for @section, url: shiny_shop.section_path( @section ), method: :put do |f| %>
  <p>
    <%= f.label :internal_name %><br>
    <%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :section_id, 'Section' %>
    <br><%= f.select :section_id, ShinyShop::Section.pluck( :internal_name, :id ),
            { include_blank: 'None' } %>
  </p>
  <p>
    <%= f.label :position %>
    <br><%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :show_on_site %>
    <br><%= f.check_box :show_on_site %>
  </p>
  <p>
    <%= f.label :show_in_menus %>
    <br><%= f.check_box :show_in_menus %>
  </p>

  <p class="top-margin">
    <%= submit_tag t( 'update' ) %>
  </p>
<% end %>
