  <% item_is_section = ( page_item.is_a? ShinyPages::Section ) %>
  <tr>
    <% if page_item.hidden? %>
    <td style="padding-left: <%= indent %>em;" class="hidden">
    <% else %>
    <td style="padding-left: <%= indent %>em;">
    <% end %>
      <% if item_is_section %><b><% end %><%= page_item.name %><% if item_is_section %></b><% end %>
    </td>
    <td>
      <%= page_item.description %>
    </td>
    <td class="actions">
      <%= link_to t( 'view'   ), "#{view_path}/#{page_item.slug}" %>
      <% if item_is_section %>
      <%= link_to t( 'edit'   ), shiny_pages.edit_section_path( page_item ) %>
      <%= link_to t( 'delete' ), shiny_pages.section_path( page_item ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      <% else %>
      <%= link_to t( 'edit'   ), shiny_pages.edit_page_path( page_item ) %>
      <%= link_to t( 'delete' ), shiny_pages.page_path( page_item ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      <% end %>
    </td>
  </tr>

  <% if item_is_section && page_item.all_page_items.present? %>
    <% page_item.all_page_items.each do |subsection_item| %>
      <%= render partial: 'page_item', locals: {
        page_item: subsection_item,
        view_path: "#{view_path}/#{page_item.slug}",
        indent: indent + 2
      } %>
    <% end %>
  <% end %>
