<% no_tagged_content = true %>

<% @content_types.each do |type| %>
  <% next unless @tagged_items[ type ].present? %>
  <% no_tagged_content = false %>
  <h2>
    <%= type.underscore.pluralize.humanize %> tagged with '<%= @tag_name %>'
  </h2>

  <section>
    <ul>
      <% @tagged_items[ type ].each do |item| %>
      <li>
        <% if type == 'BlogPost' %>
        <%= link_to item.title, item.path %>
          posted by <%= user_profile_link( item.author ) %>
          at <%= item.posted_at.to_s( :time ) %>
          on <%= item.posted_at.to_s( :shinydate ) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </section>
<% end %>

<% if no_tagged_content %>
<p>
  There is currently no content tagged with '<%= @tag_name %>'
</p>
<% end %>
