<% @page_title = 'Edit blog post' %>

<%= form_for @post, url: admin_blog_post_path, method: :put do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
<!-- TODO: tags (use :acts_as_taggable)
  <p>
    <%#= f.label :tags %><br>
    <%#= f.text_field :tags %>
  </p>
-->
  <% if current_user.can? :change_author, :blog_posts %>
  <p>
    <%= f.label :user_id, 'Author' %><br>
    <%= f.select :user_id, User.that_can( :add, :blog_posts ).pluck( :username, :id ) %>
  </p>
  <% end %>
  <p>
    <%= f.label :posted_at %><br>
    <%= f.text_field :posted_at %>
  </p>
  <p>
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </p>
<!-- TODO: comment threads! (write or find :acts_as_commentable??)
  <p>
    <%#= f.label :has_comments %><br>
    <%#= f.check_box :allow_comments %>
  </p>
  <p>
    <%#= f.label :freeze_comments %><br>
    <%#= f.check_box :allow_comments %>
  </p>
  <p>
    <%#= f.label :hide_comments %><br>
    <%#= f.check_box :allow_comments %>
  </p>
-->
<p>
  <%= f.label :body %><br>
  <%= f.cktext_area :body %>
</p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
