<% @page_title = t( 'admin.pages.edit_template' ) %>

<%= form_for @template, url: admin_pages_template_path( @template ), method: :post do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :filename, 'Template file' %>
    <br><%= f.select :filename, PageTemplate.available_templates %>
  </p>
  <%= f.fields_for :elements do |fields| %>
  <p>
    <%= fields.text_field :name %>
    <%= fields.select :content_type, content_types %>
    <br><%= fields.text_field :content %>
  </p>
  <% end %>
  <p>
    <%= submit_tag t( 'admin.update' ) %>
  </p>
<% end %>
