<% @page_title = 'Edit template' %>

<%= form_for @template, url: "/admin/pages/template/#{@template.id}", method: 'post' do |f| %>
  <p>
    Name:
    <br><%= f.text_field :name %>
  </p>
  <p>
    Description:
    <br><%= f.text_field :description %>
  </p>
  <p>
    Template filename:
    <br><%= f.text_field :filename %> <%# TODO: replace with select drop-down %>
  </p>
  <p>
    <%= f.submit 'Update Template' %>
  </p>
<% end %>
