<% page_title = 'Edit template' %>

<%= form_for( @page, url: "/admin/page/template/#{@template.id}", method: 'post' ) do |f| %>
  <p>
    Name:
    <br><%= f.text_field :name %>
  </p>
  <p>
    Description:
    <br><%= f.text_field :description %>
  </p>
  <p>
    Template filename:
    <br><%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
