<% @page_title = 'Edit template' %>

<%= form_for @template, url: admin_pages_template_path( @template ), method: :post do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%# TODO: replace with select drop-down %>
    <%= f.label :filename %>
    <br><%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
