<% @page_title = 'Add new page template' %>

<%= form_for :page_template, url: '/admin/pages/template', method: :post do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    Template filename:
    <br><%= f.text_field :filename %> <%# TODO: replace with select drop-down %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
