<% @page_title = 'Add new page template' %>

<%= form_for :page_template, url: admin_pages_template_add_path, method: 'post' do |f| %>
  <p>
    Name:
    <br><%= f.text_field :name %>
  </p>
  <p>
    Description:
    <br><%= f.text_field :description %>
  </p>
  <p>
    Template filename:
    <br><%= f.text_field :filename %> <%# TODO: replace with select drop-down %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
