<% @page_title = t( '.title' ) %>

<% if @visits.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Visit started
      </th>
      <th>
        IP address
      </th>
      <th>
        Username
      </th>
      <th>
        Landing page
      </th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
    <tr>
      <td>
        <%= visit.started_at %>
      </td>
      <td>
        <%= visit.ip %>
      </td>
      <td>
        <% if visit.user_id %><%= link_to visit.user.username, user_web_stats_path( visit.user ) %><% end %>
      </td>
      <td>
        <%= visit.landing_page %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @visits } %>

<% else %>
<p>
  <%= t( 'empty_list', items: 'stats' ) %>
</p>
<% end %>
