<%# frozen_string_literal: true %>

<% @page_title = t( '.title', query: @query ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
  </header>
  <% @results.each do |result| %>
    <%= render partial: "search/result/#{result.class.name.underscore}", locals: { result: result } %>
  <% end %>
  <% if @results.blank? %>
    <%= render partial: 'search/no_results' %>
  <% else %>
    <% @pageable ||= @results %>
    <%= paginate @pageable, window: 3 %>
    <p id="pager-info">
      <%= page_entries_info @pageable %>
    </p>
  <% end %>
</section>

<%= render partial: 'search/algolia_logo' if algolia_search_is_enabled? && using_free_algolia_plan? %>
