<!DOCTYPE html>
<!--
	This set of templates is heavily based on Halcyonic by HTML5 UP:
	https://html5up.net/halcyonic | html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license:
  html5up.net/license
-->

<html>
  <%= render partial: 'themes/halcyonic/includes/head' %>

  <body<% unless @page&.default_page? %> class="subpage"<% end %>>
    <div id="page-wrapper">
      <%= render partial: 'themes/halcyonic/includes/header' %>

      <% unless controller_name == 'pages' %>
      <section id="content">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <section>
      <% end %>

      <%= yield %>

      <% unless controller_name == 'pages' %>
              </section>

            </div>
          </div>
        </div>
      </section>
      <% end %>

      <%= render partial: 'themes/halcyonic/includes/footer' %>

      <% if current_user_can? 'view_admin_toolbar' %>
        <%= render partial: 'admin/includes/admin_toolbar' %>
      <% end %>

      <%= render partial: 'themes/halcyonic/includes/footer_javascript' %>
  </body>
</html>
