<% @site_name ||= 'ShinySite' %>
<title>
  <%= @page_title %><%= ' - ' if @page_title.present? %><%= @site_name %>
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= favicon_link_tag %>

<%= stylesheet_link_tag 'shinycms'               %>
<%= stylesheet_link_tag 'shinycms/admin_toolbar' %>
