<title>
  <%= @page_title %><%= ' - ' if @page_title.present? %><%= site_name %>
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= favicon_link_tag asset_path( 'shinycms/favicon.ico' ) %>

<%= stylesheet_link_tag 'shinycms/main_site' %>
<%= stylesheet_link_tag 'shinycms/admin_toolbar' if current_user_can? :view_admin_toolbar %>

<% if ShinyPlugin.loaded? :ShinyBlog %>
<%= auto_discovery_link_tag( :atom, feed_url( :blog ), { title: "#{site_name} Blog" } ) %>
<% end %>
<% if ShinyPlugin.loaded? :ShinyNews %>
<%= auto_discovery_link_tag( :atom, feed_url( :news ), { title: "#{site_name} News" } ) %>
<% end %>
