<title>
  <%= @page_title %><%= ' - ' if @page_title.present? %><%= site_name %>
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= favicon_link_tag asset_path( 'shinycms/favicon.ico' ) %>

<%= stylesheet_link_tag 'shinycms' %>
<%= stylesheet_link_tag 'shinycms/admin_toolbar' if current_user_can? :view_admin_toolbar %>
