<% @page_title = t( '.title' ) %>

<%= render partial: 'admin/includes/search', locals: { placeholder: t( '.search' ) } %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Email
      </th>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
    <tr>
      <td>
        <%= recipient.email %>
      </td>
      <td>
        <%= recipient.name %>
      </td>
      <td>
        <% if recipient.confirmed? %>
          <%= t( '.confirmed' ) %>
        <% else %>
          <%= t( '.unconfirmed' ) %>
        <% end %>
      </td>
      <td class="actions">
        <%= link_to t( '.do_not_contact' ), main_app.do_not_contact_email_recipient_path( recipient ), method: :put %>
        <%= link_to t( 'delete' ), main_app.email_recipient_path( recipient ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { pagy: @pagy } %>
