<p>
  <% if user_signed_in? %>
  Welcome back <%= user_profile_link %>! &nbsp;
  [ <%= link_to t( 'shinycms.user.edit_account' ), shinycms.edit_user_registration_path %>
  | <%= link_to t( 'shiny_profiles.edit_profile' ),shiny_profiles.edit_profile_path( current_user.username ) %>
  | <%= link_to t( 'shinycms.site_settings.index.title' ), shinycms.site_settings_path %>
  | <%= link_to t( 'shinycms.user.log_out' ), shinycms.destroy_user_session_path, data: {}, method: :delete %>
  ]
  <% else %>
  <% if feature_enabled? :user_logins %>
  <%= link_to t( 'shinycms.user.log_in'   ), shinycms.new_user_session_path %>
  <% end %>
  <% if feature_enabled? :user_registration %>
  / <%= link_to t( 'shinycms.user.register' ), shinycms.new_user_registration_path %>
  <% end %>
  <% end %>
</p>
<p>
  This website is powered by <a href="https://shinycms.org/">ShinyCMS</a>
  (<a href="https://shinycms.org/ruby">Ruby version</a>).
  ShinyCMS is <a href="http://www.opensource.org/">open source software</a>,
  &copy; 2009-2026 <a href="https://denny.me/">Denny de la Haye</a>. You can
  <a href="https://github.com/denny/ShinyCMS-ruby">download it from GitHub</a>.
</p>
