<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>
  <%= "#{@page_title} - " if @page_title %>ShinySite
</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag 'halcyonic/main' %>
<%= stylesheet_link_tag 'shinycms/main_site', media: 'all' %>
<%= stylesheet_link_tag 'halcyonic/shinycms' %>

<%= favicon_link_tag %>
