<p>
  <%= t( 'shiny_search.search.no_results.no_results' ) %>
</p>
<p>
  <%= t( 'shiny_search.search.no_results.try_again' ) %>
  <%= render partial: 'search/form', locals: { name: 'main_search' } %>
</p>
<% if feature_enabled?( :tags ) %>
<p>
  <%= t( 'shiny_search.search.no_results.try_tags' ) %> <%= link_to t( 'tags.index.title' ), main_app.tags_path %>
</p>
<% end %>
