<% @page_title = t( 'shiny_search.search.results.title', query: @query ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
  </header>
  <ul>
  <% @results.each do |result| %>
    <li>
      <%= render partial: "search/result/#{result.class.name.underscore}", locals: { result: result } %>
    </li>
  <% end %>
  </ul>
  <% if @results.blank? %>
    <%= render partial: 'search/no_results' %>
  <% else %>
    <% if @pageable %>
    <%= render partial: 'includes/pager', locals: { paged: @pageable } %>
    <% end %>
  <% end %>
</section>

<%= render partial: 'search/algolia_logo' if @search_backend == :algolia && display_algolia_logo? %>
