<% resource_type ||= controller.class.name.sub( %r{.*\:\:}, '' ).remove( 'Controller' ).underscore.humanize.singularize %>

<% @page_title = t( '.title', resource_type: resource_type.capitalize ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
  </header>

  <p>
    <%= t( '.explanation', resource_type: resource_type.downcase ) %>
  </p>
</section>

<% if feature_enabled? :search %>
<section>
  <header>
    <h2>
      Search the site
    </h2>
  </header>

  <p>
    <%= form_with name: 'search', url: shiny_search.search_path do |f| %>
      <%= f.text_field 'query' %> <%= f.submit 'Search', class: 'button' %>
    <% end %>
  </p>
</section>
<% end %>

<% if feature_enabled? :tags %>
  <% tags = [] # ActsAsTaggableOn::Tag.order( :name ) # FIXME: commented out to test Rails 6.1 %>
  <% if tags.size > 0 %>
<section>
  <header>
    <h2>
      Browse tags
    </h2>
  </header>

  <div class="twelve-columns">
    <% tags.each do |tag| %>
      <%= link_to tag.name, tag_path( tag.name ) %> (<%= tag.taggings_count %>)<br>
    <% end %>
  </div>
</section>
  <% end %>
<% end %>
