<a name="<%= comment.number %>"></a>
<section style="margin-left: <%= depth %>em;">
  <header>
    <span class="float-right">
      <%= link_to "##{comment.number}", "#{request.fullpath}##{comment.number}" %>
    </span>
    <% if comment.title.present? %>
    <h2>
      <%= comment.title %>
    </h2>
    <% end %>
    <h3>
      <%= render partial: 'discussions/comment_posted_by', locals: { comment: comment } %>
    </h3>
  </header>

  <p>
    <%= sanitize comment.body %>
  </p>

  <footer style="margin: 0; padding: 0;">
    <a onclick="toggleHidden('reply_form_<%= comment.id %>')"><%= t( 'discussions.reply' ) %></a>
    <% if current_user_can?( :hide, :comments ) || current_user.can?( :lock, :comments ) %>
    <%= render partial: 'discussions/comment_moderation_links',
               locals: { comment: comment } %>
    <% end %>
  </footer>

  <div id="reply_form_<%= comment.id %>" style="margin: 0; padding: 0;" hidden>
    <%= render partial: 'discussions/comment_form',
               locals: { discussion: comment.discussion, comment: comment } %>
  </div>
</section>
