<% comment ||= nil %>
<% if comment.present? %>
  <% form_url = comment_path( discussion, comment ) %>
  <% num = "_#{comment.number}" %>
<% else %>
  <% form_url = discussion_path( discussion ) %>
<% end %>

<%= form_for Comment.new, url: form_url, html: { id: "comment#{num}_form", class: 'comment_form' } do |f| %>
  <p>
    <%= f.label 'Post as: ' %>
    <% if setting( :allowed_to_comment ) == 'Anonymous' %>
    <%= f.radio_button :author_type, 'anonymous' %> <%= t( '.anonymous' ) %> &nbsp;
    <% end %>
    <% if [ 'Anonymous', 'Pseudonymous' ].include? setting( :allowed_to_comment ) %>
    <%= f.radio_button :author_type, 'pseudonymous', checked: !user_signed_in?,
      html: { onChange: "toggleHidden('comment#{num}_author_details')" } %> <%= t( '.pseudonymous' ) %> &nbsp;
    <% end %>
    <% if user_signed_in? %>
    <%= f.radio_button :author_type, 'authenticated', checked: true %> <%= user_display_name %>
    <% else %>
    <%= f.radio_button :author_type, 'authenticated', disabled: true %> ( <%= link_to t( 'user.log_in' ), new_user_session_path %> )
    <% end %>
  </p>
  <p id="comment<%= num %>_author_details" <% if user_signed_in? %>hidden<% end %>>
    <%= f.text_field :author_name,  id: "comment#{num}_author_name",  placeholder: t( '.name'  ), class: 'twenty' %> &nbsp;
    <%= f.text_field :author_email, id: "comment#{num}_author_email", placeholder: t( '.email' ), class: 'twenty' %> &nbsp;
    <%= f.text_field :author_url,   id: "comment#{num}_author_url",   placeholder: t( '.url'   ), class: 'twenty' %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "comment#{num}_title" %>
  </p>
  <p>
    <%= f.label :body, t( 'discussions.comment' ) %><br>
    <%= f.text_area :body, id: "comment#{num}_body" %>
  </p>
  <p>
    <%= f.submit t( 'post' ), class: 'button' %>
  </p>
<% end %>
