<a name="<%= comment.number %>">
<section style="margin-left: <%= depth %>em;">
  <header>
    <% if comment.title.present? %>
    <h2>
      <%= comment.title %>
    </h2>
    <% end %>
    <h3>
      <%= render partial: 'discussions/comment_posted_by',
                 locals: { comment: comment } %>
    </h3>
    <%= link_to comment.number, "#{request.fullpath}##{comment.number}" %>
  </header>

  <%= sanitize comment.body %>

  <% if current_user_can?( :moderate, :comments ) %>
  <footer>
    <p>
      <%= render partial: 'discussions/comment_moderation_links',
                 locals: { comment: comment } %>
    </p>
  </footer>
  <% end %>
</section>

<%= render partial: 'discussions/comment_form', locals: {
  discussion: comment.discussion, comment: comment, depth: depth } %>
