<a name="<%= comment.number %>">
<section style="margin-left: <%= depth %>em;">
  <header>
    <% if comment.title.present? %>
    <h2>
      <%= comment.title %>
    </h2>
    <% end %>
    <h3>
      <%= render partial: 'discussions/comment_posted_by', locals: { comment: comment } %>
    </h3>
    <%= link_to comment.number, "#{request.fullpath}##{comment.number}" %>
  </header>

  <%= sanitize comment.body %>

  <footer>
    <br>
    <a onclick="toggleHidden('reply_form_<%= comment.id %>')"><%= t( 'discussions.reply' ) %></a>
    <% if current_user_can?( :moderate, :comments ) %>
    <%= render partial: 'discussions/comment_moderation_links',
               locals: { comment: comment } %>
    <% end %>
  </footer>

  <div id="reply_form_<%= comment.id %>" hidden>
    <br>
    <%= render partial: 'discussions/comment_form',
               locals: { discussion: comment.discussion, comment: comment } %>
  </div>
</section>
