<% comment ||= nil %>
<% if comment.present? %>
  <% form_url = comment_path( discussion, comment ) %>
  <% num = "_#{comment.number}" %>
<% else %>
  <% form_url = discussion_path( discussion ) %>
<% end %>

<% if setting( :allowed_to_comment ) == 'Authenticated' && !user_signed_in? %>
  <p>
    <%= link_to t( '.log_in_to_post' ), new_user_session_path %>
  </p>
<% else %>

<%= form_for Comment.new, url: form_url, html: { id: "comment#{num}_form", class: 'comment_form' } do |f| %>
  <p>
    Post as:
    &nbsp;
    <% if setting( :allowed_to_comment ) == 'Anonymous' %>
    <label><%= f.radio_button :author_type, 'anonymous',
      onclick: "hide('comment#{num}_author_details')" %>
    <%= t( '.anonymous' ) %></label> &nbsp;
    <% end %>

    <% if [ 'Anonymous', 'Pseudonymous' ].include? setting( :allowed_to_comment ) %>
    <label><%= f.radio_button :author_type, 'pseudonymous', checked: !user_signed_in?,
      onclick: "show('comment#{num}_author_details')" %>
    <%= t( '.pseudonymous' ) %></label> &nbsp;
    <% end %>

    <% if setting( :allowed_to_comment ) == 'Authenticated' %>
      <%= user_display_name %>
      <%= f.radio_button :author_type, 'authenticated', checked: true, hidden: true %>
    <% else %>
      <% if user_signed_in? %>
        <label><%= f.radio_button :author_type, 'authenticated', checked: true,
          onclick: "hide('comment#{num}_author_details')" %>
        <%= user_display_name %></label>
      <% else %>
        <%= f.radio_button :author_type, 'authenticated', disabled: true %>
        <%= link_to t( 'user.log_in' ), new_user_session_path %>
      <% end %>
    <% end %>
  </p>
  <p id="comment<%= num %>_author_details" <% if user_signed_in? %>hidden<% end %>>
    <%= f.text_field :author_name,  id: "comment#{num}_author_name",  placeholder: t( '.name'  ), class: 'twenty' %> &nbsp;
    <%= f.text_field :author_email, id: "comment#{num}_author_email", placeholder: t( '.email' ), class: 'twenty' %> &nbsp;
    <%= f.text_field :author_url,   id: "comment#{num}_author_url",   placeholder: t( '.url'   ), class: 'twenty' %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "comment#{num}_title" %>
  </p>
  <p>
    <%= f.label :body, t( 'discussions.comment' ) %><br>
    <%= f.text_area :body, id: "comment#{num}_body" %>
  </p>
  <p>
    <%= f.submit t( 'post' ), class: 'button' %>
  </p>
<% end %>

<% end %>
