<a name="<%= comment.number %>"></a>
<section class="comment" style="margin-left: <%= depth %>em;">
  <header>
    <span class="float-right">
      <%= link_to "##{comment.number}", "#{request.fullpath}##{comment.number}" %>
    </span>
    <% if comment.title.present? %>
    <h2>
      <%= comment.title %>
    </h2>
    <% end %>
    <h3 class="byline">
      <%= render partial: 'discussions/comment_posted_by', locals: { comment: comment } %>
    </h3>
  </header>

  <p>
    <%= sanitize comment.body %>
  </p>

  <footer>
    <% if comment.locked? %>
    <span class="locked"><%= t('discussions.comment_locked' ) %></span>
    <% else %>
    <a onclick="toggleHidden('reply_form_<%= comment.id %>')"><%= t( 'discussions.reply' ) %></a>
    <% if feature_enabled?( :comment_votes ) %>
      <span class="float-right smaller">
      &nbsp;&nbsp;&nbsp;
    <% if feature_enabled?( :comment_downvotes ) %>
      <%= render partial: 'discussions/comment_vote_up_down', locals: { comment: comment } %>
    <% else %>
      <%= render partial: 'discussions/comment_vote_up', locals: { comment: comment } %>
    <% end %>
    </span>
    <% end %>
    <% end %>
    <%= render partial: 'discussions/comment_moderation_links',
               locals: { comment: comment } %>

  </footer>

  <% unless comment.locked? %>
  <div id="reply_form_<%= comment.id %>" style="margin: 0; padding: 0;" hidden>
    <%= render partial: 'discussions/comment_form',
               locals: { discussion: comment.discussion, comment: comment } %>
  </div>
  <% end %>
</section>
