<% comment ||= nil %>
<% if comment.present? %>
  <% form_url = comment_path( discussion, comment ) %>
  <% num = "_#{comment.number}" %>
<% else %>
  <% form_url = discussion_path( discussion ) %>
<% end %>

<%= form_for Comment.new, url: form_url, html: { id: "comment#{num}_form" } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "comment#{num}_title" %>
  </p>

  <%= f.label :body, t( 'discussions.comment' ) %><br>
  <%= f.text_area :body, id: "comment#{num}_body" %>

  <p>
    <%= f.submit t( 'post' ) %>
  </p>
<% end %>
