<% @page_title = t( '.title' ) %>

<section>
  <header>
    <h2>
      <%= t( '.recently_active' ) %>
    </h2>
  </header>

  <table>
    <% @recent_comment_counts.each do |discussion_id, recent_count| %>
    <% discussion = @active_discussions.find( discussion_id ) %>
    <tr>
      <td>
        <%= link_to discussion.resource.title, discussion.resource.path %>
      </td>
      <td>
        <%= t( 'discussions.n_recent_comments', count: recent_count ) %>
      </td>
      <td>
        (<%= t( 'discussions.n_total', count: discussion.visible_comment_count ) %>)
      </td>
      <td>
        <%= discussion.resource.human_name.capitalize %>
      </td>
    </tr>
    <% end %>
  </table>

  <% if @active_discussions.blank? %>
    <p>
      <%= t( '.none_found' ) %>
    </p>
  <% end %>
</section>
