<% @page_title = @page.title %>
<h1>
  <%= @page.title %>
</h1>
<p>
  <img src="/images/shinycms/<%= an_image %>" alt="">
</p>
<h2>
  <%= a_heading %>
</h2>
<p>
  <%= some_text %>
</p>

<p class="small">
  Contact: <%= shared_content( 'the_email' ) %>
</p>
