<% @page_title = @post.title %>

<% @sidebar_position = 'right' %>

<section>

  <header>
    <h2>
      <%= link_to @post.title, view_blog_post_path( @post ) %>
    </h2>
    <h3>
      Posted by <%= user_profile_link( @post.author ) %>
      at <%= @post.posted_at.to_s( :time ) %>
      on <%= @post.posted_at.to_s( :shinydate ) %>
    </h3>
  </header>

  <%= sanitize @post.body %>

  <footer>
    Tags: <% @post.tag_list.each do |tag| %><%= link_to tag, tag_path( tag ) %> <% end %>
  </footer>
</section>

<% if @post.discussion %>
  <%= render partial: 'discussions/thread', locals: { resource: @post } %>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
