<% @page_title = @post.title %>

<% @sidebar_position = 'right' %>

<section>

  <%= render partial: 'blogs/post_in_list_header', locals: { post: @post } %>

  <%= sanitize @post.body %>

  <% if @post.tag_list.present? %>
  <p>
    Tags: <% @post.tag_list.each do |tag| %><%= link_to tag, tag_path( tag ) %> <% end %>
  </p>
  <% end %>

  <% unless @post.discussion.blank? || @post.discussion.hidden? || @post.discussion.locked? %>
  <footer>
    <a onclick="toggleHidden('comment_form')"><%= t( '.reply' ) %></a>
    (<%= @post.discussion.comments.count %> <%= t( 'discussions.comments' ).downcase %>)
  <footer>

  <div id="comment_form" class="comment_form" hidden>
    <%= render partial: 'discussions/comment_form', locals: { discussion: @post.discussion } %>
  </div>
  <% end %>
</section>

<a name="comments"></a>

<% unless @post.discussion.blank? || @post.discussion.hidden? %>
  <%= render partial: 'discussions/discussion', locals: { resource: @post } %>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
