<% @page_title = @post.title %>

<% @sidebar_position = 'right' %>

<section class="post">

  <%= render partial: 'blogs/post_title_and_byline', locals: { post: @post } %>

  <%= sanitize @post.body %>

  <% if @post.tag_list.present? %>
  <p>
    Tags: <% @post.tag_list.each do |tag| %><%= link_to tag, tag_path( tag ) %> <% end %>
  </p>
  <% end %>

  <% if @post.discussion.present? %>
  <footer>
    <% unless @post.discussion.locked? %>
    <a onclick="toggleHidden('comment_form')"><%= t( '.reply' ) %></a>
    <% unless @post.discussion.hidden? %>
    (<%= t( 'discussions.n_comments', count: @post.discussion.comments.visible.count ) %>)
    <% end %>
    <% end %>

    <% if feature_enabled?( :blog_votes ) %>
    <span class="float-right smaller">
      &nbsp;&nbsp;&nbsp;
    <% if feature_enabled?( :blog_downvotes ) %>
      <%= render partial: 'votable/vote_up_down', locals: { resource: @post } %>
    <% else %>
      <%= render partial: 'votable/vote_up', locals: { resource: @post } %>
    <% end %>
    </span>
    <% end %>
    <% if current_user_can?( :hide, :discussions ) || current_user_can?( :lock, :discussions ) %>
    <%= render partial: 'discussions/moderation_links', locals: { discussion: @post.discussion } %>
    <% end %>
  </footer>

  <% unless @post.discussion.hidden? || @post.discussion.locked? %>
  <div id="comment_form" class="comment_form" hidden>
    <%= render partial: 'discussions/comment_form', locals: { discussion: @post.discussion } %>
  </div>
  <% end %>
  <% end %>
</section>

<a name="comments"></a>

<% unless @post.discussion.blank? || @post.discussion.hidden? %>
  <%= render partial: 'discussions/discussion', locals: { resource: @post } %>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
