<% @page_title = "Blog posts in #{@posts.first.posted_at.year}"  %>

<% @sidebar_position = 'right' %>

<% current_month = '' %>
<% @posts.each do |post| %>
  <% unless post.posted_at.month == current_month %>
  <section>
    <h2>
      Posts in <%= I18n.t('date.month_names')[post.posted_at.month] %> <%= post.posted_at.year %>
    </h2>
  </section>
  <% current_month = post.posted_at.month %>
  <% end %>

  <section>
    <%= render partial: 'blogs/post_title_and_byline', locals: { post: post } %>
  </section>
<% end %>

<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
