<% @page_title = t( '.title' ) %>

<% if @subscriptions.present? %>
<%= render partial: 'admin/includes/search', locals: { action: shiny_lists.search_list_subscriptions_path( @subscriptions.first.list ), placeholder: t( '.search' ) } %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Status
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td>
        <%= subscription.subscriber.name %>
      </td>
      <td>
        <%= subscription.subscriber.email %>
      </td>
      <td>
        <% if subscription.active? %>
        <%= I18n.t( 'shiny_lists.subscribed' ) %> (<%= display_time_on_date( subscription.subscribed_at ) %>)
        <% else %>
        <%= I18n.t( 'shiny_lists.unsubscribed' ) %> (<%= display_time_on_date( subscription.unsubscribed_at ) %>)
        <% end %>
      </td>
      <td class="actions">
        <%= link_to t( 'shiny_lists.unsubscribe' ), shiny_lists.list_subscriptions_path( subscription.list, subscription ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { pagy: @pagy } %>

<% else %>
<p>
  <%= t( 'empty_list', items: 'subscriptions' ) %>
</p>
<% end %>
