<% @page_title = t( '.title' ) %>

<%= form_for @edition, url: shiny_newsletters.edition_path( @edition ), method: :put do |f| %>
  <p>
    <%= f.label :internal_name %><br>
    <%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :template_id, 'Template' %>
    <br><%= f.select :template_id, ShinyNewsletters::Template.pluck( :name, :id ) %>
  </p>
  <p>
    <%= f.label :show_on_site %>
    <br><%= f.check_box :show_on_site %>
  </p>

  <%= f.fields_for :elements do |fields| %>
    <%= render partial: 'shiny_newsletters/admin/editions/element', locals: { fields: fields, content: :content, name: @edition.elements[fields.index].name, element_type: @edition.elements[fields.index].element_type, filenames: filenames_for_image_select } %>
  <% end %>
  <p class="top-margin">
    <%= f.submit t( 'update' ) %>
  </p>
<% end %>
