<% @page_title = t( '.title' ) %>

<%= form_with url: settings_path, method: :put do |f| %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th class="shorter">
        t( '.name' )
      </th>
      <th class="longer">
        t( '.value' )
      </th>
      <th class="shorter">
        t( '.level' )
      </th>
    </tr>
  </thead>
  <% @settings.each do |s| %>
	<tr class="showfocus">
    <td>
      <%= f.label "value_#{s.id}", t( "settings.#{s.name}" ) %>
    </td>
    <td>
      <%= f.text_field "value_#{s.id}", value: s.site_value %>
    </td>
    <td>
      <% if s.locked %>
      <%= f.radio_button "level_#{s.id}", value: 'site',  disabled: true %>  <%= t( '.site'  ) %>
      <%= f.radio_button "level_#{s.id}", value: 'user',  disabled: true %>  <%= t( '.user'  ) %>
      <%= f.radio_button "level_#{s.id}", value: 'admin', disabled: true %>  <%= t( '.admin' ) %>
      <% else %>
      <%= f.radio_button "level_#{s.id}", value: 'site'  %> <%= t( '.site'  ) %>
      <%= f.radio_button "level_#{s.id}", value: 'user'  %> <%= t( '.user'  ) %>
      <%= f.radio_button "level_#{s.id}", value: 'admin' %> <%= t( '.admin' ) %>
      <% end %>
    </td>
	</tr>
	<tr>
    <td colspan="3">
      <%= text_field :settings, "setting_description_#{s.id}", value: s.description, class: 'textlong' %>
    </td>
	</tr>
  <% end %>
</table>
<p class="top-margin">
  <%= f.submit t( 'update' ) %>
</p>
<% end %>
