<% @page_title = 'Site Settings' %>

<%= form_with name: 'all_settings', url: admin_settings_path, method: :post do %>
  <% @settings.each do |s| %>
  <p>
    <label for="setting_value_<%= s.id %>"><%= s.name %></label>
    <%= text_field :settings, "setting_value_#{s.id}", value: s.value %>
    <%= text_field :settings, "setting_description_#{s.id}", value: s.description %>
    <%= link_to 'Delete', admin_setting_delete_path( s ), method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>
  <p>
    <%= submit_tag 'Update Settings' %>
  </p>
<% end %>

<%= form_with name: 'new_setting', url: admin_setting_create_path, method: :post do %>
  <h2>
    Add new setting
  </h2>
  <p>
    <label>
      <%= text_field :setting, :name %>
      <%= text_field :setting, :value %>
    </label>
    <%= text_field :setting, :description %>
  </p>
  <p>
    <%= submit_tag 'Add' %>
  </p>
<% end %>
