<% @page_title = t( '.title' ) %>

<%= form_with name: 'all_settings', url: settings_path, method: :post do %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Setting name
      </th>
      <th>
        Value
      </th>
      <th>
        Description
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <% @settings.each do |s| %>
	<tr class="showfocus">
		<td>
      <label for="settings[setting_value_<%= s.id %>]"><%= s.name %></label>
		</td>
    <td>
      <%= text_field :settings, "setting_value_#{s.id}", value: s.value %>
    </td>
    <td>
      <%= text_field :settings, "setting_description_#{s.id}", value: s.description, class: 'textlong' %>
    </td>
		<td class="actions">
      <%= link_to t( 'delete' ), setting_delete_path( s ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
		</td>
	</tr>
  <% end  # settings %>
</table>
<p class="top-margin">
  <%= submit_tag t( 'update' ) %>
</p>
<% end  # form %>

<%= form_for :setting, name: 'new_setting', url: setting_create_path, method: :post do |f2| %>
  <fieldset>
    <legend>
      Add new setting
    </legend>
    <p>
      <%= f2.text_field :name,        placeholder: t( '.name_placeholder'        ), class: 'textshort' %>
      <%= f2.text_field :value,       placeholder: t( '.value_placeholder'       )                     %>
      <%= f2.text_field :description, placeholder: t( '.description_placeholder' ), class: 'textlong'  %>
    </p>
    <p>
      <%= f2.submit t( 'add' ) %>
    </p>
  </fieldset>
<% end %>
