<% @page_title = t( 'admin.settings.site_settings' ) %>

<%= form_with name: 'all_settings', url: admin_settings_path, method: :post do %>
<table class="list">
  <% @settings.each do |s| %>
	<tr class="showfocus">
		<td>
      <label for="settings[setting_value_<%= s.id %>]"><%= s.name %></label>
		</td>
    <td>
      <%= text_field :settings, "setting_value_#{s.id}", value: s.value %>
    </td>
    <td>
      <%= text_field :settings, "setting_description_#{s.id}", value: s.description, class: 'longtext' %>
    </td>
		<td class="actions">
      <%= link_to t( 'admin.delete' ), admin_setting_delete_path( s ),
          method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
		</td>
	</tr>
  <% end  # settings %>
</table>
<p>
  <%= submit_tag t( 'admin.update' ) %>
</p>
<% end  # form %>

<%= form_with name: 'new_setting', url: admin_setting_create_path, method: :post do %>
  <fieldset>
    <legend>
      Add new setting
    </legend>
    <p>
      <label>
        <%= text_field :setting, :name,  placeholder: t( 'admin.settings.name_placeholder'  ) %>
        <%= text_field :setting, :value, placeholder: t( 'admin.settings.value_placeholder' ) %>
      </label>
      <%= text_field :setting, :description, placeholder: t( 'admin.settings.description_placeholder' ), class: 'longtext' %>
    </p>
    <p>
      <%= submit_tag t( 'admin.add' ) %>
    </p>
  </fieldset>
<% end %>
