        <div id="banner" class="banner">
          <div class="container">
            <div class="row">
              <div class="col-6 col-12-medium">
                <p>
                  <%= sanitize banner_text %>
                </p>
                <a href="<%= banner_button_url %>" class="button-large"><%= banner_button_text %></a>
              </div>
              <div class="col-6 col-12-medium imp-medium">
                <%= link_to image_tag( banner_image, alt: banner_alt_text, class: 'banner-image' ), url_for( banner_image ) if banner_image.attached? %>
              </div>
            </div>
          </div>
        </div>
      </section><%# closes the header section %>

      <!-- Features -->
      <section id="features">
        <div class="container">
          <div class="row">

            <!-- Feature #1 -->
            <div class="col-3 col-6-medium col-12-small">
              <section>
                <%= link_to image_tag( feature_1_image, alt: feature_1_alt_text, class: 'bordered-feature-image' ), url_for( feature_1_image ) if feature_1_image.attached? %>
                <h2>
                  <%= feature_1_heading %>
                </h2>
                <%= simple_format feature_1_text %>
              </section>
            </div>

            <!-- Feature #2 -->
            <div class="col-3 col-6-medium col-12-small">
              <section>
                <%= link_to image_tag( feature_2_image, alt: feature_2_alt_text, class: 'bordered-feature-image' ), url_for( feature_2_image ) if feature_2_image.attached? %>
                <h2>
                  <%= feature_2_heading %>
                </h2>
                <%= simple_format feature_2_text %>
              </section>
            </div>

            <!-- Feature #3 -->
            <div class="col-3 col-6-medium col-12-small">
              <section>
                <%= link_to image_tag( feature_3_image, alt: feature_3_alt_text, class: 'bordered-feature-image' ), url_for( feature_3_image ) if feature_3_image.attached? %>
                <h2>
                  <%= feature_3_heading %>
                </h2>
                <%= simple_format feature_3_text %>
              </section>
            </div>

            <!-- Feature #4 -->
            <div class="col-3 col-6-medium col-12-small">
              <section>
                <%= link_to image_tag( feature_4_image, alt: feature_4_alt_text, class: 'bordered-feature-image' ), url_for( feature_4_image ) if feature_4_image.attached? %>
                <h2>
                  <%= feature_4_heading %>
                </h2>
                <%= simple_format feature_4_text %>
              </section>
            </div>
          </div>
        </div>
      </section>

      <!-- Content -->
      <section id="content">
        <div class="container">
          <div class="row aln-center">

            <!-- Content box #1 -->
            <div class="col-4 col-12-medium">
              <section>
                <header>
                  <h2><%= content_1_heading %></h2>
                  <h3><%= content_1_subheading %></h3>
                </header>
                <%= image_tag( content_1_image, alt: content_1_alt_text ) if content_1_image.attached? %>
                <p>
                  <%= simple_format content_1_body %>
                </p>
              </section>
            </div>

            <!-- Content box #2 -->
            <div class="col-4 col-6-medium col-12-small">
              <section>
                <header>
                  <h2><%= content_2_heading %></h2>
                  <h3><%= content_2_subheading %></h3>
                </header>
                <%= sanitize content_2_body %>
              </section>
            </div>

            <!-- Content box #3 -->
            <div class="col-4 col-6-medium col-12-small">
              <section>
                <header>
                  <h2><%= content_3_heading %></h2>
                  <h3><%= content_3_subheading %></h3>
                </header>
                <ul class="quote-list">
                  <li>
                    <%= image_tag( content_3_item_1_image, alt: content_3_item_1_alt_text ) if content_3_item_1_image.attached? %>
                    <p><%= content_3_item_1_quotation %></p>
                    <span><%= content_3_item_1_attribution %></span>
                  </li>
                  <li>
                    <%= image_tag( content_3_item_2_image, alt: content_3_item_2_alt_text ) if content_3_item_2_image.attached? %>
                    <p><%= content_3_item_2_quotation %></p>
                    <span><%= content_3_item_2_attribution %></span>
                  </li>
                  <li>
                    <%= image_tag( content_3_item_3_image, alt: content_3_item_3_alt_text ) if content_3_item_3_image.attached? %>
                    <p><%= content_3_item_3_quotation %></p>
                    <span><%= content_3_item_3_attribution %></span>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </section>
