<% @page_title = t( '.title' ) %>

<%= render partial: 'news/index/page_title' %>

<% @posts.each do |post| %>
<section class="post">
  <%= render partial: 'news/index/post_header', locals: { post: post } %>

  <%= sanitize post.teaser( paragraphs: 3 ) %>

  <%= render partial: 'news/index/post_footer', locals: { post: post } %>
</section>
<% end %>

<%= render partial: 'includes/pager', locals: { paged: @posts, route_set: shiny_news } %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
