<%
  if params[:year].to_i != Time.zone.now.year
    @page_title = "News posts in #{I18n.t("date.month_names")[params[:month].to_i]} #{params[:year]}"
  elsif params[:month].to_i != Time.zone.now.month
    @page_title = "News posts in #{I18n.t("date.month_names")[params[:month].to_i]}"
  else
    @page_title = 'News posts this month'
  end
%>

<%= render partial: 'news/index/page_title' %>

<% @posts.each do |post| %>
<section>
  <%= render partial: 'news/index/post_header', locals: { post: post } %>

  <%= sanitize post.teaser( paragraphs: 3 ) %>

  <%= render partial: 'news/index/post_footer', locals: { post: post } %>
</section>
<% end %>

<% if @posts.size == 0 %>
<p>
  <%= t( 'shinycms.empty_list', items: 'news posts' ) %>
</p>
<% end %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
