<%
  if params[:year].to_i != Time.zone.now.year
    @page_title = "News posts in #{I18n.t("date.month_names")[params[:month].to_i]} #{params[:year]}"
  elsif params[:month].to_i != Time.zone.now.month
    @page_title = "News posts in #{I18n.t("date.month_names")[params[:month].to_i]}"
  else
    @page_title = 'News posts this month'
  end
%>

<%= render partial: 'news/index/page_title' %>

<% @posts.each do |post| %>
<section>
  <%= render partial: 'news/index/post_header', locals: { post: post } %>

  <%= teaser = post.teaser( text: post.body, paragraphs: 3 ) %>
  <%= sanitize teaser %>

  <% read_more = post.body.length > ( teaser.length + 10 ) ? 'read_more' : 'view_post' # 10 is an arbitrary fudge factor for extra newlines etc %>
  <%= render partial: 'news/index/post_footer', locals:  { post: post, read_more: read_more } %>
</section>
<% end %>

<% if @posts.size == 0 %>
<p>
  <%= t( 'shinycms.empty_list', items: 'news posts' ) %>
</p>
<% end %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
