<% @page_title = @post.title %>

<section class="post">
  <%= render partial: 'news/show/post_header', locals: { post: @post } %>

  <%= sanitize @post.body %>

  <%= render partial: 'news/show/post_tags', locals: { post: @post } %>

  <%= render partial: 'news/show/post_footer', locals: { post: @post } %>

  <%= render partial: 'news/show/comment_form', locals: { post: @post } %>
</section>

<%= render partial: 'shiny_posts/show/next_and_previous_post_links', locals: { post: @post } %>

<%= render partial: 'news/show/discussion', locals: { post: @post } %>

<% @sidebar_position = 'right' %>
<%= render partial: 'right_sidebar_join' %>
<%= render partial: 'sidebar' %>
