<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'themes/shinycms/includes/head' %>
  </head>

  <body>
    <header id="header">
      <%= render partial: 'includes/messages' %>
    </header>

    <nav id="top-nav">
      <%= render partial: 'themes/shinycms/includes/menu' %>
    </nav>

    <main id="main" role="main">
      <%= yield %>
    </main>

    <footer id="footer" class="container">
      <%= render partial: 'themes/shinycms/includes/footer' %>
    </footer>

    <% if current_user_can? 'view_admin_toolbar' %>
      <%= render partial: 'admin/includes/admin_toolbar' %>
    <% end %>
  </body>
</html>
