<% item_id = text.parameterize %>
<a name="<%= item_id %>"></a>
<li class="c-sidebar-nav-item">
  <a class="c-sidebar-nav-link" href="<%= link %>">
    <i class="cil-<%= icon %>"></i> <%= text %>
    <% badge ||= false %>
    <% if badge %>
    <% badge_style ||= 'info' %>
    <span class="badge badge-<%= badge_style %>"><%= badge %></span>
    <% end %>
  </a>
</li>
