<% section_id = text.parameterize %>
<% expand = cookies[section_id] ? ' c-show' : '' %>
<a name="<%= section_id %>"></a>
<li class="c-sidebar-nav-item c-sidebar-nav-dropdown<%= expand %>" id="<%= section_id %>">
  <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#<%= section_id %>">
    <% icon ||= false %>
    <% if icon %>
    <svg class="c-sidebar-nav-icon">
      <use xlink:href="/assets/coreui/icons/coreui/free-symbol-defs.svg#cui-<%= icon %>"></use>
    </svg>
    <% end %>
    <%= text %>
    <% badge ||= false %>
    <% if badge %>
    <% badge_style ||= 'info' %>
    <span class="badge badge-<%= badge_style %>"><%= badge %></span>
    <% end %>
  </a>
  <ul class="c-sidebar-nav-dropdown-items">
