<% @page_title = t( '.title' ) %>

<%= form_for @section, url: page_section_path( @section ), method: :put do |f| %>
  <p>
    <%= f.label :name %>
    <br><%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <br><%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :title %>
    <br><%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %>
    <br><%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :section_id, 'Section' %>
    <br><%= f.select :section_id, PageSection.pluck( :name, :id ),
            { include_blank: 'None' } %>
  </p>
  <p>
    <%= f.label :sort_order %>
    <br><%= f.text_field :sort_order %>
  </p>
  <p>
    <%= f.label :hidden %>
    <br><%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.label :hidden_from_menu %>
    <br><%= f.check_box :hidden_from_menu %>
  </p>
  <p class="top-margin">
    <%= submit_tag t( 'update' ) %>
  </p>
<% end %>
