<% page_title = 'Edit section' %>

<%= form_for( @page, url: "/admin/page/section/#{@section.id}", method: 'post' ) do |f| %>
  <p>
    Name:
    <br><%= f.text_field :name %>
  </p>
  <p>
    Description:
    <br><%= f.text_field :description %>
  </p>
  <p>
    Title:
    <br><%= f.text_field :title %>
  </p>
  <p>
    Slug:
    <br><%= f.text_field :slug %>
  </p>
  <p>
    Section:
    <br><%= select( 'section', 'section_id',
      PageSection.all.collect { |s| [ s.name, s.id ] }, { include_blank: 'None' } ) %>
  </p>
  <p>
    Sort order:
    <br><%= f.text_field :sort_order %>
  </p>
  <p>
    Hidden:
    <br><%= f.check_field :hidden %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
