<% @page_title = t( '.title' ) %>

<%= form_for :page_section, url: create_page_section_path, method: :post do |f| %>
  <p>
    <%= f.label :internal_name %><br>
    <%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :section_id, 'Section' %>
    <br><%= f.select :section_id, PageSection.pluck( :internal_name, :id ),
            { include_blank: 'None' } %>
  </p>
  <p>
    <%= f.label :sort_order %>
    <br><%= f.text_field :sort_order %>
  </p>
  <p>
    <%= f.label :show_on_site %>
    <br><%= f.check_box :show_on_site %>
  </p>
  <p>
    <%= f.label :show_in_menus %>
    <br><%= f.check_box :show_in_menus %>
  </p>

  <p class="top-margin">
    <%= f.submit t( 'add' ) %>
  </p>
<% end %>
