<% @page_title = t( '.title' ) %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th class="longer">
        Name
      </th>
      <th>
        Handler
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
    <tr>
      <td>
        <%= form.internal_name %>
      </td>
      <td>
        <%= t( "shiny_forms.admin.forms.handlers.#{form.handler}" ) %>
      </td>
      <td class="actions">
        <%= link_to t( 'edit'   ), shiny_forms.edit_form_path( form ) %>
        <%= link_to t( 'delete' ), shiny_forms.form_path( form ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @forms } %>
