<% @page_title = t( '.title' ) %>

<%= form_for @form, url: shiny_forms.forms_path, method: :post do |f| %>
  <p>
    <%= f.label :internal_name %><br>
    <%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :handler %><br>
    <%= f.text_field :handler %>
  </p>
  <p>
    <%= f.submit t( 'add' ) %>
  </p>
<% end %>
