<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'admin/includes/head' %>
  </head>

  <body>
    <header id="header">
      <h1>
        <%= @page_title %>
      </h1>
      <%= render partial: 'admin/includes/messages' %>
    </header>

    <nav id="side-nav">
      <%= render partial: 'admin/includes/menu' %>
    </nav>

    <main id="main">
      <%= render partial: 'admin/includes/breadcrumbs' %>

      <%= yield %>
    </main>

    <div class="clearboth"></div>

    <footer id="footer">
      <%= render partial: 'admin/includes/footer' %>
    </footer>
  </body>
</html>
