<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.0.0-alpha.1
* @link https://coreui.io
* Copyright (c) 2019 creativeLabs Åukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
  <head>
    <%= render partial: 'admin/includes/head' %>
  </head>

  <body class="c-app">
    <div id="sidebar" class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show">
      <%= render partial: 'admin/includes/sidebar' %>
    </div>

    <div class="c-wrapper">
      <header class="c-header c-header-light c-header-fixed">
        <%= render partial: 'admin/includes/header'   %>
        <%= render partial: 'admin/includes/messages' %>
      </header>

      <div class="c-body">
        <main id="main" role="main">
          <%= yield %>
        </main>
      </div>

      <footer class="c-footer">
        <%= render partial: 'admin/includes/footer' %>
      </footer>
    </div>

    <%= render partial: 'admin/includes/footer_javascript' %>
  </body>
</html>
