<nav class="breadcrumbs">
  <ol class="breadcrumb border-0 m-0">
    <li class="breadcrumb-item"><%= link_to t( 'shinycms.home' ), main_app.root_path %></li>
    <li class="breadcrumb-item"><%= link_to t( 'shinycms.admin.breadcrumb' ), shinycms.admin_path %></li>

    <li class="breadcrumb-item">
      <% plugin_name = controller.class.name.split('::').first %>

      <%# ShinyCMS plugins %>
      <% if plugin_name == 'ShinyCMS' || plugin_loaded?( plugin_name ) %>

        <%# Allow plugin controllers to override their 'section' breadcrumb link %>
        <% if controller.respond_to? :breadcrumb_link_text_and_path %>
          <%= link_to *controller.breadcrumb_link_text_and_path %>
        <% else %>
          <%= link_to *plugin_breadcrumb_link_text_and_path( plugin_name, controller_name ) %>
        <% end %>

      <%# Other engines %>
      <% elsif plugin_name == 'Blazer' %>
        <%= link_to t( 'shinycms.admin.stats.breadcrumb' ), blazer.root_path %>

      <% elsif plugin_name == 'RailsEmailPreview' %>
        <%= link_to t( 'rails_email_preview.breadcrumb' ), rails_email_preview.rep_root_path %>

      <% end %>
    </li>

    <li class="breadcrumb-item active"><%= @page_title.titlecase %></li>
  </ol>
</nav>
