<nav class="breadcrumbs">
  <ol class="breadcrumb border-0 m-0">
    <%= component 'admin/breadcrumb_item',
                  text: t( 'shinycms.home' ),
                  path: main_app.root_path  %>

    <%= component 'admin/breadcrumb_item',
                  text: t( 'shinycms.admin.breadcrumb' ),
                  path: shinycms.admin_path %>

    <%# ShinyCMS plugins %>
    <% if shinycms_admin_controller? %>
      <%  namespace = controller.class.name.split('::').first;
          link_text = t( "#{namespace.underscore}.admin.#{controller_name}.breadcrumb" );
          link_path = controller.try( :breadcrumb_section_path ) ||
                      get_plugin( namespace ).engine.routes.url_helpers.public_send( "#{controller_name}_path" ); %>
      <%= component 'admin/breadcrumb_item', text: link_text, path: link_path %>

    <%# Other engines %>
    <% elsif blazer_controller? %>
      <%= component 'admin/breadcrumb_item',
                    text: t( 'shinycms.admin.blazer.breadcrumb' ),
                    path: blazer.root_path %>

    <% elsif rep_controller? %>
      <%= component 'admin/breadcrumb_item',
                    text: t( 'shinycms.admin.rails_email_preview.breadcrumb' ),
                    path: rails_email_preview.rep_root_path %>

    <% end %>

    <li class="breadcrumb-item active"><%= @page_title.titlecase %></li>
  </ol>
</nav>
