<nav class="breadcrumbs">
  <ol class="breadcrumb border-0 m-0">
    <li class="breadcrumb-item"><%= link_to t( 'shinycms.home' ), main_app.root_path %></li>
    <li class="breadcrumb-item"><%= link_to t( 'shinycms.admin.breadcrumb' ), shinycms.admin_path %></li>

    <li class="breadcrumb-item">
      <% namespace = controller.class.name.split('::').first %>

      <%# ShinyCMS plugins %>
      <% if shinycms_admin_controller? %>
        <% plugin = get_plugin( namespace ) %>

        <%# Allow plugin controllers to override their 'section' breadcrumb link %>
        <% if controller.respond_to? :breadcrumb_link_text_and_path %>
          <%= link_to *controller.breadcrumb_link_text_and_path %>
        <% else %>
          <%= link_to *plugin_breadcrumb_link_text_and_path( plugin, controller_name ) %>
        <% end %>

      <%# Other engines %>
      <% elsif blazer_controller? %>
        <%= link_to t( 'shinycms.admin.stats.breadcrumb' ), blazer.root_path %>

      <% elsif rep_controller? %>
        <%= link_to t( 'rails_email_preview.breadcrumb' ), rails_email_preview.rep_root_path %>

      <% end %>
    </li>

    <li class="breadcrumb-item active"><%= @page_title.titlecase %></li>
  </ol>
</nav>
