<br>
<table class="table table-responsive-sm table-striped">
  <tr>
    <th colspan="5">
      <%= t( 'capability.capabilities' ) %>
    </th>
  </tr>

  <% category = CapabilityCategory.find_by( name: 'general' ) %>
  <% category_capabilities = %i[ view_admin_area view_admin_toolbar skip skip ] %>
  <tr>
    <td class="shorter">
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% category_capabilities.each do |capability| %>
    <td class="longer">
      <%= render_capability_checkbox( f, capability, category ) %>
    </td>
    <% end %>
  </tr>

  <% CapabilityCategory.where.not( name: [ 'general', 'admin_users' ] )
    .order( :id ).each do |category| %>
  <% category_capabilities = %i[ list add edit delete ] %>
  <tr>
    <td>
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% category_capabilities.each do |capability| %>
    <td>
      <%= render_capability_checkbox( f, capability, category ) %>
    </td>
    <% end %>
  </tr>
  <% end %>

  <% category = CapabilityCategory.find_by( name: 'users' ) %>
  <% category_capabilities = %i[ view_admin_notes skip skip skip ] %>
  <tr>
    <td>
    </td>
    <% category_capabilities.each do |capability| %>
    <td>
      <%= render_capability_checkbox( f, capability, category ) %>
    </td>
    <% end %>
  </tr>

  <% category = CapabilityCategory.find_by( name: 'admin_users' ) %>
  <% category_capabilities = %i[ list add edit delete ] %>
  <tr>
    <td>
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% category_capabilities.each do |capability| %>
    <td>
      <%= render_capability_checkbox( f, capability, category ) %>
    </td>
    <% end %>
  </tr>
</table>
