<br>
<table class="table table-responsive-sm table-striped">
  <tr>
    <th colspan="5">
      <%= t( 'capability.capabilities' ) %>
    </th>
  </tr>
  <% category = CapabilityCategory.find_by( name: 'general' ) %>
  <tr>
    <td class="shorter">
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% %i[ view_admin_area view_admin_toolbar skip skip ].each do |capability| %>
    <td class="longer">
      <% c = Capability.find_by( name: capability, category: category ) unless capability == 'skip' %>
      <% if c.present? %>
      <label>
        <input type="checkbox" name="capabilities" value="<%= c.id %>"<% if @user.can?(
          c.name.to_sym, c.category.name.to_sym ) %> checked="checked"<% end %>>
        <%= t( "capability.general.#{c.name}" ) %>
      </label>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% CapabilityCategory.all.order( :id ).each do |category| %>
  <% next if %w[ general admin_users ].include? category.name %>
  <tr>
    <td>
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% %i[ list add edit delete ].each do |capability| %>
    <td>
      <% c = Capability.find_by( name: capability, category: category ) %>
      <% if c.present? %>
      <label>
        <input type="checkbox" name="capabilities" value="<%= c.id %>"<% if @user.can?(
          c.name.to_sym, c.category.name.to_sym ) %> checked="checked"<% end %>>
        <%= t( c.name ) %>
      </label>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
  <% category = CapabilityCategory.find_by( name: 'users' ) %>
  <tr>
    <td>
    </td>
    <% %i[ view_admin_notes _blank _blank _blank ].each do |capability| %>
    <td>
      <% c = Capability.find_by( name: capability, category: category ) unless capability == 'skip' %>
      <% if c.present? %>
      <label>
        <input type="checkbox" name="capabilities" value="<%= c.id %>"<% if @user.can?(
          c.name.to_sym, c.category.name.to_sym ) %> checked="checked"<% end %>>
        <%= t( "capability.users.#{c.name}" ) %>
      </label>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% category = CapabilityCategory.find_by( name: 'admin_users' ) %>
  <tr>
    <td>
      <%= t( "capability.category.#{category.name}" ) %>
    </td>
    <% %i[ list add edit delete ].each do |capability| %>
    <td>
      <% c = Capability.find_by( name: capability, category: category ) %>
      <% if c.present? %>
      <label>
        <input type="checkbox" name="capabilities" value="<%= c.id %>"<% if @user.can?(
          c.name.to_sym, c.category.name.to_sym ) %> checked="checked"<% end %>>
        <%= t( c.name ) %>
      </label>
      <% end %>
    </td>
    <% end %>
  </tr>
</table>
