<% @page_title = t( '.title' ) %>

<%= render partial: 'admin/includes/search', locals: { action: search_users_path, placeholder: t( '.search' ) } %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Username
      </th>
      <th>
        Email
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.username %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td class="actions">
        <%= link_to t( 'view'   ), shiny_profiles.profile_path( user.username ) %>
        <%= link_to t( 'edit'   ), edit_user_path( user ) %>
        <%= link_to t( 'delete' ), user_path( user ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  <tbody>
</table>

<%= render partial: 'admin/includes/pager', locals: { paged: @users } %>
