<% @page_title = t( '.title' ) %>

<%= form_for :user, url: users_path, method: :post do |f| %>
  <p>
    <%= f.label :username %>
    <br><%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <br><%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <br><%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :admin_notes %>
    <br><%= f.text_area :admin_notes %>
  </p>

  <p class="top-margin">
    <%= submit_tag t( 'add' ) %>
  </p>
<% end %>
