<% @page_title = t( '.title' ) %>

<%= form_for :user, url: create_user_path, method: :post do |f| %>
  <p>
    <%= f.label :username %>
    <br><%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :public_name %>
    <br><%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :email %>
    <br><%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :public_email %>
    <br><%= f.text_field :public_email %>
  </p>
  <p>
    <%= f.label :password %>
    <br><%= f.text_field :password %>
  </p>

  <p class="top-margin">
    <%= submit_tag t( 'add' ) %>
  </p>
<% end %>
