<% return unless feature_enabled? :comments %>

<% comment ||= nil %>
<% if comment.present? %>
  <% discussion = comment.discussion %>
  <% form_url = shinycms.comment_path( discussion, comment.number ) %>
  <% num = "_#{comment.number}" %>
<% else %>
  <% form_url = shinycms.discussion_path( discussion ) %>
<% end %>

<%= form_for Comment.new, url: form_url, html: { id: "comment#{num}_form", class: 'comment_form' } do |f| %>
  <p>
    Post as:
<% if allow_unauthenticated_comments? %>
  <% if allow_anonymous_comments? %>
    <label>
      <%= radio_button_tag 'comment[author_type]', 'anonymous', false, onclick: "hide('comment#{num}_author_details')" %>
      <%= t( '.anonymous' ) %>
    </label> &nbsp;
  <% end %>
    <label>
      <%= radio_button_tag 'comment[author_type]', 'pseudonymous', !user_signed_in?, onclick: "show('comment#{num}_author_details')" %>
      <%= t( '.pseudonymous' ) %>
    </label> &nbsp;
  <% if user_signed_in? %>
    <label>
      <%= radio_button_tag 'comment[author_type]', 'authenticated', true, onclick: "hide('comment#{num}_author_details')" %>
      <%= current_user.name %>
    </label>
  <% else %>
    <%= radio_button_tag 'comment[author_type]', 'authenticated', false, disabled: true %>
    <%= link_to t( 'user.log_in' ), shinycms.new_user_session_path %>
  <% end %>
<% else %>
  <% if user_signed_in? %>
    <%= current_user.name %>
  <% else %>
    <%= link_to t( '.log_in_to_post' ), shinycms.new_user_session_path %>
  <% end %>
<% end %>
  </p>

  <p id="comment<%= num %>_author_details" <% if user_signed_in? %>hidden<% end %>>
    <%= text_field_tag 'comment[author_name]',  '', id: "comment#{num}_author_name",  class: 'author', placeholder: t( '.name'  ) %> &nbsp;
    <%= text_field_tag 'comment[author_email]', '', id: "comment#{num}_author_email", class: 'author', placeholder: t( '.email' ) %> &nbsp;
    <%= text_field_tag 'comment[author_url]',   '', id: "comment#{num}_author_url",   class: 'author', placeholder: t( '.url'   ) %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "comment#{num}_title", class: 'title' %>
  </p>
  <p>
    <%= f.label :body, t( '.comment' ) %><br>
    <%= f.text_area :body, id: "comment#{num}_body" %>
  </p>

  <%= render partial: 'includes/recaptcha_tags', locals: { action: 'comments', num: num } %>

  <p>
    <%= f.submit t( 'post' ), class: 'button' %>
  </p>
<% end %>
