<% @page_title = 'Edit blog details' %>

<%= form_for @blog, url: admin_blog_path, method: :put do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :user_id, 'Owner' %><br>
    <%= f.select :user_id, User.that_can( :edit, :blogs ).pluck( :username, :id ) %>
  </p>
  <p>
    <%= f.label :hidden_from_menu %><br>
    <%= f.check_box :hidden_from_menu %>
  </p>
  <p>
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </p>
  <p>
    <%= f.submit t( 'update' ) %>
  </p>
<% end %>
