<% @page_title = t( '.title' ) %>

<% if @blogs.present? %>
<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th class="longer">
        Description
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
    <tr>
      <td>
        <%= blog.name %>
      </td>
      <td>
        <%= blog.description %>
      </td>
      <td class="actions">
        <% if Blog.multiple_blogs_mode %>
        <%= link_to t( 'view'   ), blog_path( blog ) %>
        <% else %>
        <%= link_to t( 'view'   ), blog_path %>
        <% end %>
        <%= link_to t( 'edit'   ), edit_admin_blog_path( blog ) %>
        <%= link_to t( 'delete' ), admin_blog_path( blog ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>
  <%= t( '.empty' ) %>
</p>
<% end %>
