<% @page_title = t( '.title' ) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Title</th>
      <th>Slug</th>
      <th>Hidden from menu</th>
      <th>Hidden</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.name %></td>
        <td><%= blog.description %></td>
        <td><%= blog.title %></td>
        <td><%= blog.slug %></td>
        <td><%= blog.hidden_from_menu %></td>
        <td><%= blog.hidden %></td>
      </tr>
    <% end %>
  </tbody>
</table>
