<% @page_title = t( '.title' ) %>

<%= form_for @blog, url: create_blog_path, method: :post do |f| %>
  <p>
    <%= f.label :internal_name %><br>
    <%= f.text_field :internal_name %>
  </p>
  <p>
    <%= f.label :public_name %><br>
    <%= f.text_field :public_name %>
  </p>
  <p>
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :user_id, 'Owner' %><br>
    <%= f.select :user_id, User.that_can( :add, :blogs ).pluck( :username, :id ) %>
  </p>
  <p>
    <%= f.label :show_on_site %>
    <br><%= f.check_box :show_on_site %>
  </p>
  <p>
    <%= f.label :show_in_menus %>
    <br><%= f.check_box :show_in_menus %>
  </p>

  <p>
    <%= f.submit t( 'add' ) %>
  </p>
<% end %>
