<% @page_title = t( '.title' ) %>

<% if @sent.present? %>

<table class="table table-responsive-sm table-striped">
  <thead>
    <tr>
      <th>
        Edition
      </th>
      <th>
        List
      </th>
      <th>
        Sent
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
    <% @sent.each do |send| %>
    <tr>
      <td>
        <%= send.edition.internal_name %>
      </td>
      <td>
        <%= send.list.internal_name %>
      </td>
      <td>
        <%= send.sent_at.to_s( :time ) %> on <%= send.sent_at.to_s( :shinydate ) %>
      </td>
      <td class="actions">
        <%= link_to t( 'edit'   ), shiny_newsletters.edit_send_path( send ) %>
        <%= link_to t( 'delete' ), shiny_newsletters.send_path( send ),
            method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<p>
  <%= t( '.no_sends' ) %>
</p>
<% end %>
