<% @page_title = t( '.title' ) %>

<section>
  <header>
    <h2>
      <%= @page_title %>
    </h2>
  </header>

  <% if @recent_sends.present? %>
  <ul>
    <% @recent_sends.each do |sent| %>
    <li>
      <%= link_to( sent.edition.name, sent.path ) %>
      - sent at <%= display_time_on_date( sent.sent_at ) %>
    </li>
    <% end %>
  </ul>

  <%= render partial: 'includes/pager', locals: { paged: @recent_sends, route_set: shiny_newsletters } %>

  <% else %>
  <p>
    <%= t( 'empty_list', items: 'newsletters' ) %>
  </p>
  <% end %>
</section>
