<% comment ||= nil %>
<% if comment.present? %>
  <% discussion = comment.discussion %>
  <% form_url = comment_path( discussion, comment.number ) %>
  <% num = "_#{comment.number}" %>
<% else %>
  <% form_url = discussion_path( discussion ) %>
<% end %>

<% if setting( :allowed_to_comment ) == 'Authenticated' && !user_signed_in? %>
  <p>
    <%= link_to t( '.log_in_to_post' ), new_user_session_path %>
  </p>
<% else %>

<%= form_for Comment.new, url: form_url, html: { id: "comment#{num}_form", class: 'comment_form' } do |f| %>
  <p>
    Post as:
    &nbsp;
    <% if setting( :allowed_to_comment ) == 'Anonymous' %>
    <label><%= f.radio_button :author_type, 'anonymous',
      onclick: "hide('comment#{num}_author_details')" %>
    <%= t( '.anonymous' ) %></label> &nbsp;
    <% end %>

    <% if [ 'Anonymous', 'Pseudonymous' ].include? setting( :allowed_to_comment ) %>
    <label><%= f.radio_button :author_type, 'pseudonymous', checked: !user_signed_in?,
      onclick: "show('comment#{num}_author_details')" %>
    <%= t( '.pseudonymous' ) %></label> &nbsp;
    <% end %>

    <% if setting( :allowed_to_comment ) == 'Authenticated' %>
      <%= user_display_name %>
      <%= f.radio_button :author_type, 'authenticated', checked: true, hidden: true %>
    <% else %>
      <% if user_signed_in? %>
        <label><%= f.radio_button :author_type, 'authenticated', checked: true,
          onclick: "hide('comment#{num}_author_details')" %>
        <%= user_display_name %></label>
      <% else %>
        <%= f.radio_button :author_type, 'authenticated', disabled: true %>
        <%= link_to t( 'user.log_in' ), new_user_session_path %>
      <% end %>
    <% end %>
  </p>
  <p id="comment<%= num %>_author_details" <% if user_signed_in? %>hidden<% end %>>
    <%= f.text_field :author_name,  id: "comment#{num}_author_name",  placeholder: t( '.name'  ), class: 'author' %> &nbsp;
    <%= f.text_field :author_email, id: "comment#{num}_author_email", placeholder: t( '.email' ), class: 'author' %> &nbsp;
    <%= f.text_field :author_url,   id: "comment#{num}_author_url",   placeholder: t( '.url'   ), class: 'author' %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "comment#{num}_title", class: 'title' %>
  </p>
  <p>
    <%= f.label :body, t( '.comment' ) %><br>
    <%= f.text_area :body, id: "comment#{num}_body" %>
  </p>

  <% unless user_signed_in? %>
    <% if flash[ :show_checkbox_recaptcha ] %>
      <%= recaptcha_tags site_key: recaptcha_v2_site_key, id: "g-recaptcha-response#{num}" %>
    <% elsif recaptcha_v3_site_key.present? %>
      <%= recaptcha_v3 action: 'comment', site_key: recaptcha_v3_site_key, id: "g-recaptcha-response#{num}" %>
    <% else %>
      <%= recaptcha_tags site_key: recaptcha_v2_site_key, id: "g-recaptcha-response#{num}" %>
    <% end %>
  <% end %>

  <p>
    <%= f.submit t( 'post' ), class: 'button' %>
  </p>
<% end %>

<% end %>
