<nav id="admin-toolbar">
  <%= link_to image_tag( 'shinycms/admin-toolbar-logo' ), 'http://shinycms.org/' %>

  <div id="admin-toolbar-links">
    <%= link_to t( 'admin.home' ), url_for( '/' ) %>
    |
    <% if controller_name == 'pages' %>
    Page:
    <%= link_to t( 'admin.add'  ), admin_page_new_path %> /
    <% if @page %>
    <%= link_to t( 'admin.edit' ), admin_page_path( @page ) %> /
    <% end %>
    <%= link_to 'List', admin_pages_path %>
    |
    Section:
    <%= link_to t( 'admin.add' ), admin_pages_section_new_path %>
    <% if @page&.section %>
    / <%= link_to t( 'admin.edit' ), admin_pages_section_path( @page.section ) %>
    <% end %>
    |
    Template:
    <%= link_to t( 'admin.add'  ), admin_pages_template_new_path %> /
    <% if @page %>
    <%= link_to t( 'admin.edit' ), admin_pages_template_path( @page.template ) %> /
    <% end %>
    <%= link_to 'List', admin_pages_templates_path %>
    <% end  # pages %>
    |
    <%= link_to t( 'admin.admin_area' ), url_for( admin_path ) %>
  </div>
</nav>
