<nav class="shinycms-admin-toolbar">
  <%= link_to image_tag( 'shinycms/admin-toolbar-logo.png', alt: 'ShinyCMS' ), 'http://shinycms.org/' %>

  <div class="shinycms-admin-toolbar-links">

<% plugins_with_admin_toolbar_templates.each do |plugin| %>
  <%= render partial: "#{plugin.name.underscore}/admin/toolbar/section" %>
<% end %>

<% if controller_name == 'blogs' %>
    <%= t( 'admin.blogs.title' ).singularize %>:
  <% if current_user_can?( :edit, :blogs ) %>
    <%= link_to t( 'edit' ), edit_blog_path( @blog ) %>
    |
  <% end %>
    <%= t( 'admin.blog.posts.title' ).singularize %>:
  <% if current_user_can? :add, :blog_posts %>
    <%= link_to t( 'add' ), new_blog_post_path( @blog ) %> /
  <% end %>
  <% if current_user_can?( :edit, :blog_posts ) && @post.present? %>
    <%= link_to t( 'edit' ), edit_blog_post_path( @blog, @post ) %> /
  <% end %>
  <% if current_user_can? :list, :blog_posts %>
    <%= link_to t( 'list' ), blog_posts_path( @blog ) %>
  <% end %>
    |

<% elsif controller_name == 'pages' %>
    <%= t( 'admin.pages.title' ).singularize %>:
  <% if current_user_can? :add, :pages %>
    <%= link_to t( 'add'  ), new_page_path %> /
  <% end %>
  <% if @page.present? && current_user_can?( :edit, :pages ) %>
    <%= link_to t( 'edit' ), edit_page_path( @page ) %> /
  <% end %>
  <% if current_user_can? :list, :pages %>
    <%= link_to t( 'list' ), pages_path %>
  <% end %>
    |
    <%= t( 'admin.pages.sections.title' ).singularize %>:
  <% if current_user_can? :add, :page_sections %>
    <%= link_to t( 'add' ), new_page_section_path %> /
  <% end %>
  <% if current_user_can?( :edit, :page_sections ) && @page&.section.present? %>
    <%= link_to t( 'edit' ), edit_page_section_path( @page.section ) %>
  <% end %>
    |
    <%= t( 'admin.pages.templates.title' ).singularize %>:
  <% if current_user_can? :add, :page_templates %>
    <%= link_to t( 'add'  ), new_page_template_path %> /
  <% end %>
  <% if current_user_can?( :edit, :page_templates ) && @page.present? %>
    <%= link_to t( 'edit' ), edit_page_template_path( @page.template ) %> /
  <% end %>
  <% if current_user_can? :list, :page_templates %>
    <%= link_to t( 'list' ), page_templates_path %>
  <% end %>
    |

<% elsif controller_name == 'users' %>
    <%= t( 'admin.users.title' ).singularize %>:
  <% if current_user_can? :add, :users %>
    <%= link_to t( 'add'  ), new_user_path %> /
  <% end %>
  <% if @user_profile.present? && current_user_can?( :edit, :users ) %>
    <%= link_to t( 'edit' ), edit_user_path( @user_profile ) %> /
  <% end %>
  <% if current_user_can? :list, :users %>
    <%= link_to t( 'list' ), users_path %>
  <% end %>
    |
<% end %>

<% if @discussion.present? %>
  <%= t( 'admin.discussion.title' ) %>:
<% if current_user_can? :hide, :discussions %>
  <% if @discussion.hidden? %>
    <%= link_to t( 'show' ), show_discussion_path( @discussion ) %>
  <% else %>
    <%= link_to t( 'hide' ), hide_discussion_path(   @discussion ) %>
  <% end %>
    /
<% end %>
<% if current_user_can? :lock, :discussions %>
  <% if @discussion.locked? %>
    <%= link_to t( 'unlock' ), unlock_discussion_path( @discussion ) %>
  <% else %>
    <%= link_to t( 'lock'   ), lock_discussion_path(   @discussion ) %>
  <% end %>
<% end %>
    |
<% end %>

    <% if Rails.env.development? %>
    <%= link_to t( 'admin.letter_opener_web' ), letter_opener_web_path %>
    |
    <% end %>
    <% if current_user_can? :view_admin_area %>
    <%= link_to t( 'admin.admin_area' ), admin_path %>
    <% end %>
  </div>
</nav>
