<% if current_user_can? 'view_admin_toolbar' %>
<nav id="admin-toolbar">
  <%= link_to image_tag( 'shinycms/admin-toolbar-logo.png', alt: 'ShinyCMS' ),
      'http://shinycms.org/' %>

  <div id="admin-toolbar-links">
    <% if controller_name == 'pages' %>
    Page:
    <%= link_to t( 'add'  ), admin_page_new_path %> /
    <% if @page %>
    <%= link_to t( 'edit' ), admin_page_path( @page ) %> /
    <% end %>
    <%= link_to t( 'list' ), admin_pages_path %>
    |
    Section:
    <%= link_to t( 'add' ), admin_pages_section_new_path %> /
    <% if @page&.section %>
    <%= link_to t( 'edit' ), admin_pages_section_path( @page.section ) %> /
    <% end %>
    <%= link_to t( 'list' ), admin_pages_path %>
    |
    Template:
    <%= link_to t( 'add'  ), admin_pages_template_new_path %> /
    <% if @page %>
    <%= link_to t( 'edit' ), admin_pages_template_path( @page.template ) %> /
    <% end %>
    <%= link_to t( 'list' ), admin_pages_templates_path %>
    |

    <% elsif controller_name == 'users' %>
    User:
    <%= link_to t( 'add'  ), admin_user_new_path %> /
    <% if @user %>
    <%= link_to t( 'edit' ), admin_user_path( @user ) %> /
    <% end %>
    <%= link_to t( 'list' ), admin_users_path %>
    |

    <% end %>

    <%= link_to t( 'admin.admin_area' ), admin_path %>
  </div>
</nav>
<% end %>
