<%= link_to image_tag( 'admin/admin-toolbar-logo' ), 'http://shinycms.org/' %>

<div id="admin-toolbar-links">
  <%= link_to 'Home', url_for( '/' ) %>
  |
  <% if controller_name == 'pages' %>
  Page:
  <%= link_to 'Add',  admin_page_add_path %> /
  <% if @page %>
  <%= link_to 'Edit', admin_page_path( @page ) %> /
  <% end %>
  <%= link_to 'List', admin_pages_path %>
  |
  Section:
  <%= link_to 'Add',  url_for( controller: '/admin/pages/sections', action: 'new' ) %> /
  <% if @page&.section %>
  <%= link_to 'Edit', url_for( controller: '/admin/pages/sections', action: 'edit', id: @page.section.id ) %> /
  <% end %>
  <%= link_to 'List', url_for( controller: '/admin/pages/sections' ) %>
  |
  Template:
  <%= link_to 'Add',  url_for( controller: '/admin/pages/templates', action: 'new' ) %> /
  <% if @page %>
  <%= link_to 'Edit', url_for( controller: '/admin/pages/templates', action: 'edit', id: @page.template.id ) %> /
  <% end %>
  <%= link_to 'List', url_for( controller: '/admin/pages/templates' ) %>
  <% end  # 'pages' %>
  |
  <%= link_to 'Admin area', url_for( admin_path ) %>
</div>
