<nav class="shinycms-admin-toolbar">
  <%= link_to image_tag( 'shinycms/admin-toolbar-logo.png', alt: 'ShinyCMS' ), 'http://shinycms.org/' %>

  <div class="shinycms-admin-toolbar-links">
<% if controller_name == 'blogs' %>
    Blog:
  <% if current_user_can?( :edit, :blogs ) %>
    <%= link_to t( 'edit' ), edit_blog_path( @blog ) %>
    |
  <% end %>
    Post:
  <% if current_user_can? :add, :blog_posts %>
    <%= link_to t( 'add' ), new_blog_post_path %> /
  <% end %>
  <% if current_user_can?( :edit, :blog_posts ) && @post.present? %>
    <%= link_to t( 'edit' ), edit_blog_post_path( @post ) %> /
  <% end %>
  <% if current_user_can? :list, :blog_posts %>
    <%= link_to t( 'list' ), blog_posts_path( @blog ) %>
  <% end %>
    |

<% elsif controller_name == 'pages' %>
    Page:
  <% if current_user_can? :add, :pages %>
    <%= link_to t( 'add'  ), new_page_path %> /
  <% end %>
  <% if @page.present? && current_user_can?( :edit, :pages ) %>
    <%= link_to t( 'edit' ), edit_page_path( @page ) %> /
  <% end %>
  <% if current_user_can? :list, :pages %>
    <%= link_to t( 'list' ), pages_path %>
  <% end %>
    |
    Section:
  <% if current_user_can? :add, :page_sections %>
    <%= link_to t( 'add' ), new_page_section_path %> /
  <% end %>
  <% if current_user_can?( :edit, :page_sections ) && @page&.section.present? %>
    <%= link_to t( 'edit' ), edit_page_section_path( @page.section ) %> /
  <% end %>
    |
    Template:
  <% if current_user_can? :add, :page_templates %>
    <%= link_to t( 'add'  ), new_pages_template_path %> /
  <% end %>
  <% if current_user_can?( :edit, :page_templates ) && @page.present? %>
    <%= link_to t( 'edit' ), edit_page_template_path( @page.template ) %> /
  <% end %>
  <% if current_user_can? :list, :page_templates %>
    <%= link_to t( 'list' ), page_templates_path %>
  <% end %>
    |

<% elsif controller_name == 'users' %>
    User:
  <% if current_user_can? :add, :users %>
    <%= link_to t( 'add'  ), new_user_path %> /
  <% end %>
  <% if @user_profile.present? && current_user_can?( :edit, :users ) %>
    <%= link_to t( 'edit' ), edit_user_path( @user_profile ) %> /
  <% end %>
  <% if current_user_can? :list, :users %>
    <%= link_to t( 'list' ), users_path %>
  <% end %>
    |

<% end %>
    <% if current_user_can? :view_admin_area %>
    <%= link_to t( 'admin.admin_area' ), admin_path %>
    <% end %>
  </div>
</nav>
