<title>
  <%= "#{@page_title.titleize} - " if @page_title %>ShinyCMS
</title>

<%= csrf_meta_tags   %>
<%= csp_meta_tag     %>
<%= favicon_link_tag %>

<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Poppins&display=swap' %>
<%= stylesheet_link_tag 'admin/admin-area', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
