    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <%= "#{@page_title.titlecase} - " if @page_title %>ShinyCMS
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag   %>

    <%= favicon_link_tag asset_path( 'shinycms/favicon.ico' ) %>

    <% if controller.kind_of? Blazer::BaseController %>
    <%# TODO: use Shadow DOM to get rid of styling collisions? %>
    <%= stylesheet_link_tag "blazer/application" %>
    <%= javascript_include_tag "blazer/application" %>
    <script>
      <%= blazer_js_var "rootPath", root_path %>
    </script>
    <% end %>

    <%= stylesheet_link_tag 'https://unpkg.com/@coreui/icons@1.0.0/css/free.min.css' %>
    <%= stylesheet_link_tag 'https://unpkg.com/@coreui/coreui@3.0.0/dist/css/coreui.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Noto+Sans+TC|Ubuntu|Roboto+Condensed|Roboto&display=swap' %>
    <%= stylesheet_link_tag 'shinycms/admin_area', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js' %>

    <%= javascript_include_tag Ckeditor.cdn_url if html_editor_needed? %>
