<ul>
  <li>
    <%= link_to 'Home', url_for( '/' ) %>
  </li>
  <li>
    Pages
    <ul class="submenu">
      <li>
        <%= link_to 'List pages', admin_pages_path %>
      </li>
      <li>
        <%= link_to 'Add new page', admin_page_add_path %>
      </li>
      <li>
        <%= link_to 'List sections', admin_pages_sections_path %>
      </li>
      <li>
        <%= link_to 'Add new section', admin_pages_section_add_path %>
      </li>
      <li>
        <%= link_to 'List templates', admin_pages_templates_path %>
      </li>
      <li>
        <%= link_to 'Add new template', admin_pages_template_add_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Settings', admin_settings_path %>
  </li>
</ul>
