<ul>
  <li>
    <%= link_to 'Home', url_for( '/' ) %>
  </li>
  <li>
    Pages
    <ul class="submenu">
      <li>
        <%= link_to 'List pages',       admin_pages_path %>
      </li>
      <li>
        <%= link_to 'New page',         admin_page_new_path %>
      </li>
      <li>
        <%= link_to 'New section',      admin_pages_section_new_path %>
      </li>
      <li>
        <%= link_to 'List templates',   admin_pages_templates_path %>
      </li>
      <li>
        <%= link_to 'New template',     admin_pages_template_new_path %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to 'Shared Content', admin_shared_content_path %>
  </li>
  <li>
    <%= link_to 'Settings', admin_settings_path %>
  </li>
</ul>
