<% if user_signed_in? %>
<ul class="c-header-nav ml-auto mr-4">
  <li class="c-header-nav-item dropdown">
    <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <% if current_user.profile&.profile_pic&.attached? %>
      <div class="c-avatar">
        <%= image_tag url_for( current_user.profile.profile_pic.variant( resize: '36x36!' ) ), alt: current_user.name, class: 'c-avatar-img' %>
      </div>
      <% else %>
      <i class="cil-user user-menu-icon"></i>
      <% end %>
    </a>
    <div class="dropdown-menu dropdown-menu-right pt-0">
      <div class="dropdown-header bg-light py-2"><strong><%= current_user.name %></strong></div>
      <a class="dropdown-item" href="<%= shiny_profiles.profile_path( current_user.username ) %>">
        <i class="cil-user user-menu-icon"></i> <%= t( 'shiny_profiles.view_profile' ) %>
      </a>
      <a class="dropdown-item" href="<%= main_app.edit_user_registration_path( current_user.username ) %>">
        <i class="cil-pencil user-menu-icon"></i> <%= t( 'shiny_profiles.edit_profile' ) %>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="<%= main_app.site_settings_path %>">
        <i class="cil-settings user-menu-icon"></i> <%= t( 'user.site_settings' ) %>
      </a>
      <div class="dropdown-divider"></div>
      <a rel="nofollow" data-method="delete" class="dropdown-item" href="<%= main_app.destroy_user_session_path %>">
        <i class="cil-account-logout user-menu-icon"></i> <%= t( 'user.log_out' ) %>
      </a>
    </div>
  </li>
</ul>
<% end %>
