<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'includes/head' %>
  </head>

  <body>
    <header class="header">
      <%= render partial: 'includes/messages' %>
    </header>

    <nav class="top-nav">
      <%= render partial: 'menu/menu' %>
    </nav>

    <main class="main" role="main">
      <%= yield %>
    </main>

    <footer class="footer" class="container">
      <%= render partial: 'includes/footer' %>
    </footer>

    <% if current_user_can? :view_admin_toolbar %>
      <%= render partial: 'admin/includes/admin_toolbar' %>
    <% end %>

    <%= render partial: 'includes/footer_javascript' %>
  </body>
</html>
