<!DOCTYPE HTML>
<!--
	This set of templates is heavily based on Halcyonic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <%= render partial: 'halcyonic/includes/head' %>
  </head>

  <% if controller == 'Pages' && action == 'index' %>
  <% @viewing_homepage = true %>
  <body>
  <% else %>
  <body class="subpage">
  <% end %>
    <div id="page-wrapper">
      <%= render partial: 'halcyonic/includes/header' %>

      <%= yield %>

      <%= render partial: 'halcyonic/includes/footer' %>

      <%# if user.is_admin? %>
      <nav id="admin-toolbar">
        <%= render partial: 'admin/includes/admin_toolbar' %>
      </nav>
      <%# end %>

      <%= render partial: 'halcyonic/includes/footer_javascript' %>
  </body>
</html>
