<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'includes/head' %>
  </head>

  <body>
    <nav>
      <%= render partial: 'includes/menu' %>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer id="footer" class="container">
      <%= render partial: 'includes/footer' %>
    </footer>

    <%# if user.is_admin? %>
    <footer id="admin-footer">
      <%= render partial: 'admin/includes/site-toolbar' %>
    </footer>
    <%# end %>
  </body>
</html>
