<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'includes/head' %>
  </head>

  <body>
    <header id="header">
      <%= render partial: 'includes/messages' %>
    </header>

    <nav id="top-nav">
      <%= render partial: 'includes/menu' %>
    </nav>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer" class="container">
      <%= render partial: 'includes/footer' %>
    </footer>

    <%# if user.is_admin? %>
    <nav id="admin-toolbar">
      <%= render partial: 'admin/includes/admin_toolbar' %>
    </nav>
    <%# end %>
  </body>
</html>
