<tr class="showfocus">
  <td>
  <% if element_type == 'short_text' %>
    <%= fields.label content, name %><br>
    <%= fields.text_field content %>
  <% elsif element_type == 'long_text' %>
    <%= fields.label content, name %><br>
    <%= fields.text_area content %>
  <% elsif element_type == 'html' %>
    <%= fields.label content, name %><br>
    <%= fields.cktext_area content, ckeditor: { customConfig: '/js/ckeditor/config.js' } %>
  <% elsif element_type == 'image' %>
    <%= fields.label 'image', name %><br>
    <% if image.attached? %>
    <%= image_tag url_for( image.variant( resize_to_limit: [ nil, 150 ] ) ), class: 'admin-image-thumbnail' %>
    &nbsp;(<%= image.filename %>)
    <% end %>
    <%= fields.file_field 'image', accept: 'image/png,image/gif,image/jpeg' %>
  <% else %>
    [ <%= t( 'admin.elements.unknown_type' ) %> ]
  <% end %>
  </td>
  <td class="actions">
    <%= link_to t( 'delete' ), shiny_inserts.destroy_insert_path( fields.object ),
        method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
  </td>
</tr>
