<tr class="showfocus">
  <td>
    <%= fields.label content, name %><br>
    <% if element_type == 'short_text' %>
    <%= fields.text_field content %>
    <% elsif element_type == 'long_text' %>
    <%= fields.text_area content %>
    <% elsif element_type == 'image' %>
    <%= fields.select content, select_filenames %>
    <% elsif element_type == 'html' %>
    <%= fields.cktext_area content %>
    <% else %>
    [ <%= t( 'admin.unknown_element_type' ) %> ]
    <% end %>
  </td>
  <td class="actions">
    <%= link_to t( 'delete' ), destroy_insert_path( fields.object ),
        method: :delete, data: { confirm: t( 'are_you_sure' ) } %>
  </td>
</tr>
